@import "mixins.scss";

.case-study-feed-mini {
    background:rgba(43, 46, 116, 0.05);
    padding: 35px;
    @include screen(1280) {
        padding:50px 0;
    }
    .csf-top {
        margin-bottom: 25px;
        @include screen(1024) {
            margin-bottom: 60px;
        }
    }
    .related {
        padding: 50px 0 !important;
        &-list {
            display: flex;
        }
        &-item {
            position:relative;
            flex: 0 0 100%;
            background: white;
            box-shadow: 8px 5px 68px rgba(40, 51, 77, 0.19);
            padding: 30px 15px;
            @include screen(1024) {
                flex: 0 0 calc((100% - 120px) / 3);
            }
            @include screen(1280) {
                flex: 0 0 calc((100% - 160px) / 3);
            }
            @include screen(1536) {
                flex: 0 0 calc((100% - 160px) / 3);
            }
            h4 {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.4px;
            }
            &:hover {
                .related-bar {
                    max-width: 95%;
                }
            }
        }
        &-sum {
            flex-grow: 1;
            p {
                font-size: 12px;
                line-height:16px;
                letter-spacing: 0.3px;
            }
        }
        &-list {
            flex-wrap: wrap;
            row-gap:25px;
            @include screen(0,1279) {
                justify-content: center;
            }
            @include screen(1024) {
                gap: 15px;
            }
            @include screen(1280) {
                gap: 20px;
                margin: 0 -15px;
            }
            @include screen(1536) {
                gap: 35px;
                flex: 0 0 calc((100% - 160px) / 3);
            }
        }
        &-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        &-info {
            flex-grow: 1;
            display: flex;
        }
        &-content {
            color: #0D1320;
            text-decoration: none;
            h4 {
                font-size: 22px;
                line-height: 29px;
                font-weight: 800;
            }
        }
        &-read {
            .read-more {
                display: block;
                position:relative;
                transition:all 0.3s ease-out;
                color:#0D1320;
                padding: 20px 0;
                text-decoration: none;
                &:before {
                    transition:all 0.3s ease-out;
                    position: absolute;
                    content: "\e904";
                    color: #0D1320;
                    font-family: "icomoon";
                    right: 0;
                    transform: rotate(0deg);
                    left: 115px;
                    font-weight: 900;
                }
                span {
                    font-weight: 900;
                }
            }
        }
        &-image {
            overflow: hidden;
            position:relative;
            margin-bottom: 25px;
            img {
                display: block;
                transition: 0.5s ease;
                width: 100%;
                height: auto;
                height: 235px;
                object-fit: cover;
            }
            label {
                cursor: pointer;
                pointer-events: none;
                position: absolute;
                bottom: 10px;
                left: 10px;
                background-color: #92D400;
                border-radius: 4px;
                color: white;
                font-size: 14px;
                width: max-content;
                text-align: center;
                display: block;
                padding: 0 10px;
            }
        }
        &-bar {
            transition:all 0.3s ease-out;
            display:block;
            background:#F39337;
            height:10px;
            width: 100%;
            max-width: 0;
            position:absolute;
            top:0;
            left:0;
            right:0;
        }
    }
    
}