@import "mixins.scss";

.list-boxes {
    .top {
        padding: 40px;
        @include screen(1024) {
            max-width: 760px;
            margin: auto;
        }
    }
    .bot {
        margin: auto;
        width: fit-content;
        margin-bottom: 50px;
    }
    .wrapper {
        padding: 0 36px;
        margin-bottom: 50px;
    }
    .boxes {
        @include screen(768) {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: center;
        }
    }
    .box {
        box-shadow: 8px 5px 68px rgba(40, 51, 77, 0.19);
        position:relative;
        margin-bottom: 45px;
        padding: 21px 34px;
        @include screen(768) {
            margin-bottom: 0px;
            max-width: 275px;
        }
        @include screen(1366) {
            flex: 0 0 30%;
            max-width: 345px;
        }
        &:after {
            position:absolute;
            content:"";
            bottom: 0;
            right: 0;
            display:block;
            height:3px;
            width: 288px;
            background:rgba(243, 147, 55, 1);
            @include screen(768) {
                width: 347px;
                height:4px;
            }
        }
        &-head {
            position: relative;
            height: 55px;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            border-bottom:4px solid rgba(238, 237, 236, 1);
            h3 {
                margin-left: 35px;
                z-index: 2;
                font-size: 18px;
                @include screen(768) {
                    font-size: 26px;
                }
            }
            svg {
                position:absolute;
                left: -3px;
                bottom: -4px;
            }
        }
        &-body {
            padding-bottom: 20px;
            @include screen(1366) {
                padding: 10px 29px;
                padding-bottom: 20px;
            }
            ul {
                li {
                    line-height: 1.2;
                    position:relative;
                    padding-left: 30px;
                    &:before {
                        font-family:"icomoon";
                        content: "\e905";
                        color: rgba(40, 51, 77, 1);
                        position: absolute;
                        left: 0px;
                    }
                    & + li {
                        margin-top:10px;
                    }
                }
            }
        }
    }
    .btn {
        min-width: 200px;
        text-align: center;
        span {
            &:after {
                right: -60px;
            }
        }
    }
}