.list-boxes .top {
  padding: 40px;
}
@media only screen and (min-width: 1024px) {
  .list-boxes .top {
    max-width: 760px;
    margin: auto;
  }
}
.list-boxes .bot {
  margin: auto;
  width: fit-content;
  margin-bottom: 50px;
}
.list-boxes .wrapper {
  padding: 0 36px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .list-boxes .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
}
.list-boxes .box {
  box-shadow: 8px 5px 68px rgba(40, 51, 77, 0.19);
  position: relative;
  margin-bottom: 45px;
  padding: 21px 34px;
}
@media only screen and (min-width: 768px) {
  .list-boxes .box {
    margin-bottom: 0px;
    max-width: 275px;
  }
}
@media only screen and (min-width: 1366px) {
  .list-boxes .box {
    flex: 0 0 30%;
    max-width: 345px;
  }
}
.list-boxes .box:after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  display: block;
  height: 3px;
  width: 288px;
  background: rgb(243, 147, 55);
}
@media only screen and (min-width: 768px) {
  .list-boxes .box:after {
    width: 347px;
    height: 4px;
  }
}
.list-boxes .box-head {
  position: relative;
  height: 55px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 4px solid rgb(238, 237, 236);
}
.list-boxes .box-head h3 {
  margin-left: 35px;
  z-index: 2;
  font-size: 18px;
}
@media only screen and (min-width: 768px) {
  .list-boxes .box-head h3 {
    font-size: 26px;
  }
}
.list-boxes .box-head svg {
  position: absolute;
  left: -3px;
  bottom: -4px;
}
.list-boxes .box-body {
  padding-bottom: 20px;
}
@media only screen and (min-width: 1366px) {
  .list-boxes .box-body {
    padding: 10px 29px;
    padding-bottom: 20px;
  }
}
.list-boxes .box-body ul li {
  line-height: 1.2;
  position: relative;
  padding-left: 30px;
}
.list-boxes .box-body ul li:before {
  font-family: "icomoon";
  content: "\e905";
  color: rgb(40, 51, 77);
  position: absolute;
  left: 0px;
}
.list-boxes .box-body ul li + li {
  margin-top: 10px;
}
.list-boxes .btn {
  min-width: 200px;
  text-align: center;
}
.list-boxes .btn span:after {
  right: -60px;
}

/*# sourceMappingURL=style.css.map */
