{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="top">{{fields.content}}</div>
    </div>
    <div class="container">
        <div class="wrapper">
            <ul class="boxes">
            {% for box in fields.boxes %}
                <li class="box">
                    <div class="box-head">
                        <h3>{{box.box_title}}</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="81.079" height="65.035" viewBox="0 0 81.079 65.035">
                        <g id="X-Icon_Exfin" transform="translate(-67.498 -99.946)">
                            <path id="Path_2" data-name="Path 2" d="M138.3,121H111.7l25.654,31.574L109.9,186.035h26.6l13.813-17.589,13.728,17.589h26.94L138.3,121" transform="translate(-42.402 -21.054)" fill="#ededed"/>
                            <path id="Path_3" data-name="Path 3" d="M196.206,121H169.694L160.6,132.926,173.727,148.8Z" transform="translate(-49.602 -21.054)" fill="#ededed"/>
                        </g>
                        </svg>
                    </div>
                    <div class="box-body">
                        <ul class="items">
                        {% for item in box.items %}
                            <li class="item">{{item.line}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="bot">
            <a class="btn {{fields.button.type}}" href="{{fields.button.link.url}}" target="{{fields.button.link.target}}">
                <span>{{fields.button.link.title}}</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}
