@import "mixins.scss";

.image-text {
    @include screen(1024) {
        padding: 80px 0;
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include screen(1024) {
            flex-direction: row;
        }
        @include screen(1280) {
            align-items: flex-end;
        }
    }
    .flex {
        position:relative;
        flex:0 0 48.5%;
        margin-bottom: 25px;
        padding: 0 40px;
        padding-top: 40px;
        @include screen(1024) {
            padding: 0;
            margin-bottom: 0px;
        }
        &:before {
            position: absolute;
            content: "";
            height: 7px;
            width: 53px;
            background: #f39337;
            top: 20px;
            left: 15px;
            @include screen(1024) {
                height: 10px;
                width: 57px;
                top: 0;
                left: 0;
            }
            @include screen(1280) {
                top: -20px;
                left: -10px;
            }
            @include screen(1366) {
                top: -30px;
                left: -15px;
            }
        }
    }
    ul {
        @include screen(1024) {
            column-count: 2;
        }
    }
    .media {
        padding: 0 36px;
        flex:0 0 48.5%;
        position: relative;
        margin: 25px 0;
        @include screen(768) {
            margin: 50px 0;
        }
        @include screen(1024) {
            padding:0;
            margin:0;
        }
        @include screen(1280) {
            max-width: 610px;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h5 {
        color:#1F7A8C;
    }
    a {
        &:not(.btn) {
            color:#28334d;
        }
    }
    &.is-style-reverse {
        .wrapper {
            flex-direction: column;
            @include screen(1024) {
                flex-direction: row-reverse;
            }
        }
    }
}

.flex {
    ul {
        li {
            line-height: 1.2;
            position:relative;
            padding-left: 30px;
            &:before {
                font-family:"icomoon";
                content: "\e905";
                color: #F39337;
                position: absolute;
                left: 0px;
            }
            & + li {
                margin-top:10px;
            }
        }
    }
}