.cb2 form label {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}
.cb2 form .gfield {
  margin-bottom: 20px;
}
.cb2 form .gfield input,
.cb2 form .gfield textarea {
  border-radius: 0px !important;
  border: none;
  outline: none;
  transition: all 0.25s ease-out;
  border-bottom: 1px solid;
  border-color: #939597;
  font-size: 18px;
  padding: 10px 2px;
  width: 100%;
}
.cb2 form .gfield input:focus,
.cb2 form .gfield textarea:focus {
  border-color: #1D1D1B;
}
.cb2 form .gfield input::placeholder,
.cb2 form .gfield textarea::placeholder {
  font-size: 16px;
  color: rgba(147, 149, 151, 0.4);
}
.cb2 form .gfield textarea {
  height: 150px;
}
.cb2 .form-submit p {
  display: none;
}
.cb2 .form-submit .btn {
  cursor: pointer;
  font-weight: 600;
}

.gform_fields {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 30px;
}
@media only screen and (min-width: 1280px) {
  .gform_fields {
    column-gap: 50px;
    row-gap: 30px;
  }
}
.gform_heading {
  display: none;
}
.gform_button {
  background: rgb(243, 147, 55);
  color: rgb(40, 51, 77);
  font-weight: 800;
  border: none;
  padding: 16px 50px;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}
.gform_submission_error {
  font-size: 15px;
  color: #F39337;
  margin: 25px 0;
  border: 2px solid #F39337;
  border-radius: 3px;
  padding: 20px;
  outline: none;
}
.gform_validation_errors:focus-visible {
  outline: none;
}
.gform_footer {
  margin-top: 25px;
}
@media only screen and (min-width: 1280px) {
  .gform_wrapper {
    margin-top: 35px;
  }
}

.gfield_validation_message {
  color: #F39337;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 700;
}
.gfield_label {
  margin-bottom: 15px;
  display: block;
}
.gfield--width-half {
  flex: 0 0 100%;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .gfield--width-half {
    flex: 0 0 calc(50% - 12.5px);
    max-width: calc(50% - 12.5px);
  }
}
@media only screen and (min-width: 1280px) {
  .gfield--width-half {
    flex: 0 0 calc(50% - 25px);
    max-width: calc(50% - 25px);
  }
}
.gfield--width-full {
  flex: 0 0 100%;
  max-width: 100%;
}
.gfield--type-checkbox {
  border: none;
}
.gfield--type-checkbox legend {
  display: none;
}
.gfield--type-checkbox a {
  color: #28334D;
}
.gfield--type-checkbox input {
  min-height: unset !important;
  width: fit-content !important;
  margin-bottom: 3px !important;
  margin-right: 15px;
}
.gfield--type-checkbox input:focus {
  outline: none !important;
}
.gfield--type-checkbox .gchoice {
  display: flex;
}
.gfield--type-honeypot {
  display: none;
}

.gfield input,
.gfield textarea {
  border-radius: 0px !important;
  border: none;
  outline: none;
  transition: all 0.25s ease-out;
  border: 1px solid;
  border-color: rgb(130, 139, 148);
  font-size: 18px;
  padding: 10px 2px;
  width: 100%;
  min-height: 57px;
  box-sizing: border-box;
  padding-left: 15px;
}
.gfield input:focus,
.gfield textarea:focus {
  border-color: rgb(243, 147, 55);
  outline: 1px solid rgb(243, 147, 55);
}
.gfield input::placeholder,
.gfield textarea::placeholder {
  font-size: 16px;
  color: rgba(147, 149, 151, 0.4);
}
.gfield textarea {
  height: 150px;
}

.contact-block-one {
  background: url("/wp-content/themes/exfin/blocks/contact-block-one/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-block-one .spacer {
  height: 143px;
  background: #28334D;
}
.contact-block-one .hero {
  background: #28334D;
  padding: 35px;
}
.contact-block-one .hero h1,
.contact-block-one .hero h2,
.contact-block-one .hero h3,
.contact-block-one .hero h4,
.contact-block-one .hero h5,
.contact-block-one .hero h6 {
  color: white;
}
.contact-block-one .hero p {
  color: white;
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .hero {
    padding-bottom: 50px;
  }
}
.contact-block-one .form-box {
  box-shadow: 8px 5px 68px rgba(40, 51, 77, 0.19);
  background: white;
  margin: 25px;
  margin-top: -100px;
  padding: 25px;
}
@media only screen and (min-width: 768px) {
  .contact-block-one .form-box {
    display: flex;
    gap: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .form-box {
    padding: 40px;
    gap: 50px;
  }
}
.contact-block-one .form-details {
  background: #EEEDEC;
  padding: 25px;
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .form-details {
    padding: 40px;
  }
}
@media only screen and (min-width: 1536px) {
  .contact-block-one .form-details {
    flex: 0 0 350px;
  }
}
.contact-block-one .form-details a {
  color: rgb(13, 19, 32);
  text-decoration: none;
}
.contact-block-one .form-details-item {
  margin-bottom: 25px;
}
.contact-block-one .form-details-label {
  color: rgb(243, 147, 55);
  font-weight: 800;
}
.contact-block-one .form-details-content p {
  margin: 0.5em 0;
}

/*# sourceMappingURL=style.css.map */
