@import "mixins.scss";

.cb2 {
    form {
        label {
            font-size: 16px;
            margin-bottom: 10px;
            display: block;
        }
        .gfield {
            margin-bottom: 20px;
            input,
            textarea {
                border-radius: 0px !important;
                border:none;
                outline: none;
                transition:all 0.25s ease-out;
                border-bottom: 1px solid;
                border-color:#939597;
                font-size: 18px;
                padding: 10px 2px;
                width:100%;
                &:focus {
                    border-color:#1D1D1B;
                }
                &::placeholder {
                    font-size: 16px;
                    color: rgba(147, 149, 151, 0.4);
                }
            }
            textarea {
                height: 150px;
            }
        }
    }
    .form-submit {
        p {
            display:none;
        }
        .btn {
            cursor:pointer;
            font-weight:600;
        }
    }
}

.gform {
    &_fields {
        display:flex;
        flex-wrap:wrap;
        column-gap:25px;
        row-gap:30px;
        @include screen(1280) {
            column-gap:50px;
            row-gap:30px;
        }
    }
    &_heading {
        display:none;
    }
    &_button {
        background: rgba(243, 147, 55, 1);
        color: rgba(40, 51, 77, 1);
        font-weight: 800;
        border: none;
        padding: 16px 50px;
        font-family: "Manrope",sans-serif;
        cursor: pointer;
    }
    &_submission_error {
        font-size: 15px;
        color: #F39337;
        margin: 25px 0;
        border: 2px solid #F39337;
        border-radius: 3px;
        padding: 20px;
        outline: none;
    }
    &_validation_errors {
        &:focus-visible {
            outline: none;
        }
    }
    &_footer {
        margin-top: 25px;
    }
    &_wrapper {
        @include screen(1280) {
            margin-top: 35px;
        }
    }
}

.gfield {
    &_validation_message {
        color: #F39337;
        font-size: 14px;
        margin-top: 15px;
        font-weight: 700;
    }
    &_error {
        // border: 1px solid #F39337 !important;
        // padding: 15px;
    }
    &_label {
        margin-bottom: 15px;
        display: block;
    }
    &--width {
        &-half {
            flex:0 0 100%;
            max-width: 100%;
            @include screen(768) {
                flex:0 0 calc(50% - 12.5px);
                max-width: calc(50% - 12.5px);
            }
            @include screen(1280) {
                flex:0 0 calc(50% - 25px);
                max-width: calc(50% - 25px);
            }
        }
        &-full {
            flex:0 0 100%;
            max-width: 100%;
        }
    }
    &--type {
        &-checkbox {
            border:none;
            legend {
                display:none;
            }
            a {
                color:#28334D;
            }
            input {
                min-height: unset !important;
                width: fit-content !important;
                margin-bottom: 3px !important;
                margin-right: 15px;
                &:focus {
                    outline:none !important;
                }
            }
            .gchoice {
                display: flex;
            }
        }
        &-honeypot {
            display:none;
        }

    }
}

.gfield {
    input,
    textarea {
        border-radius: 0px !important;
        border:none;
        outline: none;
        transition:all 0.25s ease-out;
        border: 1px solid;
        border-color:rgba(130, 139, 148, 1);
        font-size: 18px;
        padding: 10px 2px;
        width:100%;
        min-height: 57px;
        box-sizing: border-box;
        padding-left: 15px;
        &:focus {
            border-color:rgba(243, 147, 55, 1);
            outline:1px solid rgba(243, 147, 55, 1);
        }
        &::placeholder {
            font-size: 16px;
            color: rgba(147, 149, 151, 0.4);
        }
    }
    textarea {
        height: 150px;
    }
}
.contact-block-one {
    background:url('/wp-content/themes/exfin/blocks/contact-block-one/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    .spacer {
        height: 143px;
        background: #28334D;
    }
    .hero {
        background:#28334D;
        padding:35px;
        @include headings() {
            color:white;
        }
        p {
            color:white;
        }
        @include screen(1280) {
            padding-bottom: 50px;
        }
    }
    .form {
        &-box {
            box-shadow: 8px 5px 68px rgba(40, 51, 77, 0.19);
            background:white;
            margin: 25px;
            margin-top: -100px;
            padding:25px;
            @include screen(768) {
                display: flex;
                gap: 25px;
            }
            @include screen(1024) {
                padding:40px;
                gap: 50px;
            }
        }
        &-details {
            background:#EEEDEC;
            padding:25px;
            @include screen(1024) {
                padding:40px;
            }
            @include screen(1536) {
                flex: 0 0 350px;
            }
            a {
                color:rgba(13, 19, 32, 1);
                text-decoration: none;
            }
            &-item {
                margin-bottom: 25px;;
            }
            &-label {
                color:rgba(243, 147, 55, 1);
                font-weight: 800;
            }
            &-content {
                p {
                    margin: 0.5em 0;
                }
            }
        }
    }
}