{% extends "block-base.twig" %}

{% block content %}
{% set social_links = fn('get_field','social_links', 'option') %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="spacer hide-mobile"></div>
    <div class="hero">
        <div class="container">
            {{fields.content.content}}
        </div>
    </div>
    <div class="container">
        <div class="form-box">
            <ul class="form-details">
                {% if fields.details.find_us_at|length > 2 %}
                    <li class="form-details-item">
                        <div class="form-details-label">Find us at:</div>
                        <div class="form-details-content">
                            {{fields.details.find_us_at}}
                        </div>
                    </li>
                {% endif %}
                {% if fields.details.phone_us|length > 2 %}
                    <li class="form-details-item">
                        <div class="form-details-label">Phone us:</div>
                        <div class="form-details-content">
                            {{fields.details.phone_us}}
                        </div>
                    </li>
                {% endif %}
                {% if fields.details.find_us_at|length > 2 %}
                    <li class="form-details-item">
                        <div class="form-details-label">Email us:</div>
                        <div class="form-details-content">
                            {{fields.details.email_us}}
                        </div>
                    </li>
                {% endif %}
            </ul>
            <div class="form-form">
                <h2>{{fields.cta.title}}</h2>
                [gravityform id="{{fields.cta.form}}"]
            </div>
        </div>
    </div>
</section>

{% endblock %}