@media only screen and (min-width: 1024px) {
  .image-text-variation-two {
    padding: 80px 0;
  }
}
.image-text-variation-two .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
}
@media only screen and (min-width: 1024px) {
  .image-text-variation-two .wrapper {
    flex-direction: row;
  }
}
.image-text-variation-two .flex {
  position: relative;
  flex: 0 0 48.5%;
  margin-bottom: 25px;
  padding: 0 40px;
  padding-top: 40px;
}
@media only screen and (min-width: 1024px) {
  .image-text-variation-two .flex {
    padding: 0;
    margin-bottom: 0px;
    max-width: 450px;
  }
}
@media only screen and (min-width: 1366px) {
  .image-text-variation-two .flex {
    max-width: 536px;
  }
}
.image-text-variation-two .flex:before {
  position: absolute;
  content: "";
  height: 7px;
  width: 53px;
  background: #f39337;
  top: 20px;
  left: 15px;
}
@media only screen and (min-width: 1024px) {
  .image-text-variation-two .flex:before {
    height: 10px;
    width: 57px;
    top: 0;
    left: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text-variation-two .flex:before {
    top: -20px;
    left: -10px;
  }
}
@media only screen and (min-width: 1366px) {
  .image-text-variation-two .flex:before {
    top: -30px;
    left: -15px;
  }
}
@media only screen and (min-width: 1024px) {
  .image-text-variation-two ul {
    column-count: 2;
  }
}
.image-text-variation-two .media {
  padding: 0 36px;
  flex: 0 0 48.5%;
  position: relative;
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  .image-text-variation-two .media {
    margin: 50px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .image-text-variation-two .media {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text-variation-two .media {
    max-width: 610px;
  }
}
.image-text-variation-two .wp-block-image {
  margin-bottom: 30px;
}
.image-text-variation-two .wp-block-buttons {
  margin-top: 30px;
}
.image-text-variation-two img {
  display: block;
  max-width: 100%;
  height: auto;
}
.image-text-variation-two h5 {
  font-weight: 400;
}
.image-text-variation-two.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .image-text-variation-two.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}

.flex ul li {
  line-height: 1.2;
  position: relative;
  padding-left: 30px;
}
.flex ul li:before {
  font-family: "icomoon";
  content: "\e905";
  color: #F39337;
  position: absolute;
  left: 0px;
}
.flex ul li + li {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
