<div class="related-bar"></div>
<div class="related-container">
	<div class="related-image cp">
		<a href="{{item.link}}"><img loading="lazy" src="{{item.thumbnail.src}}" alt="{{item.thumbnail.alt}}" /></a>
		{% if fields.post_type == "post" %}
		<label>{{ item.date('j F Y') }}</label>
		{% else %}
		<label>{{fn('get_field', 'case_study_category', item.id)}}</label>
		{% endif %}
	</div>
	<div class="related-info">
		<a class="related-content" href="{{item.link}}">
			<h4>{{item.title}}</h4>
		</a>
	</div>
	<div class="related-sum">
		<p class="preview">{{ item.preview.length(15).read_more('') }}</p>
	</div>
	<div class="related-read">
		<a class="read-more d-f ai-c cp" href="{{item.link}}">
			<span>Read more</span>
		</a>
	</div>
</div>