.spacer {
  height: 143px;
  background: #28334d;
}

.thank-you {
  background: #28334D;
  position: relative;
  padding: 75px 25px;
}
@media only screen and (min-width: 1024px) {
  .thank-you {
    padding: 100px 0;
  }
}
.thank-you .wrapper {
  margin-bottom: 50px;
}
.thank-you:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}
.thank-you .flex {
  margin-bottom: 25px;
}
.thank-you .wp-block-image {
  margin-bottom: 30px;
}
.thank-you .wp-block-buttons {
  margin-top: 30px;
}
.thank-you img {
  max-width: 100%;
  height: auto;
}
.thank-you h1 {
  letter-spacing: 0.63px;
  text-transform: capitalize;
}
.thank-you h1 em {
  color: #FEBE12;
}
.thank-you .wrapper h1,
.thank-you .wrapper h2,
.thank-you .wrapper h3,
.thank-you .wrapper h4,
.thank-you .wrapper h5,
.thank-you .wrapper h6 {
  color: white;
}
.thank-you .wrapper p {
  color: white;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.thank-you .btn {
  margin: auto;
}
.thank-you .related {
  padding: 50px 0 !important;
}
.thank-you .related-list {
  display: flex;
}
.thank-you .related-item {
  position: relative;
  flex: 0 0 100%;
  background: white;
  box-shadow: 8px 5px 68px rgba(40, 51, 77, 0.19);
  padding: 30px 15px;
}
@media only screen and (min-width: 1024px) {
  .thank-you .related-item {
    flex: 0 0 calc((100% - 120px) / 3);
  }
}
@media only screen and (min-width: 1280px) {
  .thank-you .related-item {
    flex: 0 0 calc((100% - 160px) / 3);
  }
}
@media only screen and (min-width: 1536px) {
  .thank-you .related-item {
    flex: 0 0 calc((100% - 160px) / 3);
  }
}
.thank-you .related-item h4 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.thank-you .related-item:hover .related-bar {
  max-width: 95%;
}
.thank-you .related-sum {
  flex-grow: 1;
}
.thank-you .related-sum p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}
.thank-you .related-list {
  flex-wrap: wrap;
  row-gap: 25px;
}
@media only screen and (max-width: 1279px) {
  .thank-you .related-list {
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) {
  .thank-you .related-list {
    gap: 15px;
  }
}
@media only screen and (min-width: 1280px) {
  .thank-you .related-list {
    gap: 20px;
    margin: 0 -15px;
  }
}
@media only screen and (min-width: 1536px) {
  .thank-you .related-list {
    gap: 35px;
    flex: 0 0 calc((100% - 160px) / 3);
  }
}
.thank-you .related-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.thank-you .related-info {
  flex-grow: 1;
  display: flex;
}
.thank-you .related-content {
  color: #0D1320;
  text-decoration: none;
}
.thank-you .related-content h4 {
  font-size: 22px;
  line-height: 29px;
  font-weight: 800;
}
.thank-you .related-read .read-more {
  display: block;
  position: relative;
  transition: all 0.3s ease-out;
  color: #0D1320;
  padding: 20px 0;
  text-decoration: none;
}
.thank-you .related-read .read-more:before {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "\e904";
  color: #0D1320;
  font-family: "icomoon";
  right: 0;
  transform: rotate(0deg);
  left: 115px;
  font-weight: 900;
}
.thank-you .related-read .read-more span {
  font-weight: 900;
}
.thank-you .related-image {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}
.thank-you .related-image img {
  display: block;
  transition: 0.5s ease;
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 235px;
}
.thank-you .related-image label {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #92D400;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  width: max-content;
  text-align: center;
  display: block;
  padding: 0 10px;
}
.thank-you .related-bar {
  transition: all 0.3s ease-out;
  display: block;
  background: #F39337;
  height: 10px;
  width: 100%;
  max-width: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media only screen and (min-width: 1280px) {
  .thank-you .wrapper {
    flex-direction: row;
  }
  .thank-you .wp-block-image {
    margin-bottom: 60px;
  }
  .thank-you .wp-block-buttons {
    margin-top: 40px;
  }
  .thank-you .flex {
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
