@import "mixins.scss";

.icon-boxes {
    overflow: hidden;
    @include screen(1024) {
        padding-top: 80px;
    }
    .wrapper {
        padding: 35px;
        padding-right: 0;
        @include screen(768) {
            padding: 20px;
            padding-top: 0;
        }
        @include screen(1280) {
            padding:0px;
        }
    }
    .boxes {
        @include screen(768) {
            display:flex;
            gap:20px;
            flex-wrap: wrap;
        }
    }
    .box {
        user-select: none;
        margin-right: 20px;
        background:#FFFFFF;
        max-width: 200px;
        flex: 0 0 200px;
        min-height: 225px;
        @include screen(768) {
            margin-right: 0px;
        }
        @include screen(1366) {
            max-width: 210px;
            flex: 0 0 210px;
        }
        &-icon {
            padding: 25px;
            padding-bottom: 20px;
        }
        &-label {
            font-size: 14px;
            font-weight: 800;
            padding: 0 15px;
            padding-bottom: 25px;
        }
    }
    .box + .box {
        margin-left:0;
    }
    &.is-style-navy {
        background:#28334D;
    }
    &.is-style-grey {
        background:#28334D;
    }
    .controls {
        padding: 0 36px;
        display:flex;
        justify-content: flex-end;
        gap:17px;
        @include screen(768) {
            display:none;
        }
        .control {
            cursor:pointer;
            position: relative;
            height:50px;
            width: 50px;
            display: block;
            border:1px solid #F39337;
            &:before {
                position: absolute;
                font-family: "icomoon";
                content: "\e906";
                font-size: 30px;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            &.prev {
                background:#28334D;
                &:before {
                    color:#F39337;
                    transform: translate(-50%,-50%) rotate(180deg);
                }
            }
            &.next {
                background:#F39337;
                &:before {
                    color:#28334D;
                }
            }
        }
    }
}
