.icon-boxes {
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  .icon-boxes {
    padding-top: 80px;
  }
}
.icon-boxes .wrapper {
  padding: 35px;
  padding-right: 0;
}
@media only screen and (min-width: 768px) {
  .icon-boxes .wrapper {
    padding: 20px;
    padding-top: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .icon-boxes .wrapper {
    padding: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .icon-boxes .boxes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}
.icon-boxes .box {
  user-select: none;
  margin-right: 20px;
  background: #FFFFFF;
  max-width: 200px;
  flex: 0 0 200px;
  min-height: 225px;
}
@media only screen and (min-width: 768px) {
  .icon-boxes .box {
    margin-right: 0px;
  }
}
@media only screen and (min-width: 1366px) {
  .icon-boxes .box {
    max-width: 210px;
    flex: 0 0 210px;
  }
}
.icon-boxes .box-icon {
  padding: 25px;
  padding-bottom: 20px;
}
.icon-boxes .box-label {
  font-size: 14px;
  font-weight: 800;
  padding: 0 15px;
  padding-bottom: 25px;
}
.icon-boxes .box + .box {
  margin-left: 0;
}
.icon-boxes.is-style-navy {
  background: #28334D;
}
.icon-boxes.is-style-grey {
  background: #28334D;
}
.icon-boxes .controls {
  padding: 0 36px;
  display: flex;
  justify-content: flex-end;
  gap: 17px;
}
@media only screen and (min-width: 768px) {
  .icon-boxes .controls {
    display: none;
  }
}
.icon-boxes .controls .control {
  cursor: pointer;
  position: relative;
  height: 50px;
  width: 50px;
  display: block;
  border: 1px solid #F39337;
}
.icon-boxes .controls .control:before {
  position: absolute;
  font-family: "icomoon";
  content: "\e906";
  font-size: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-boxes .controls .control.prev {
  background: #28334D;
}
.icon-boxes .controls .control.prev:before {
  color: #F39337;
  transform: translate(-50%, -50%) rotate(180deg);
}
.icon-boxes .controls .control.next {
  background: #F39337;
}
.icon-boxes .controls .control.next:before {
  color: #28334D;
}

/*# sourceMappingURL=style.css.map */
