{% extends "block-base.twig" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <ul class="boxes">
            {% for box in fields.content.items %}
                <li class="box">
                    <div class="box-icon">{{imageElement(box.image)}}</div>
                    <div class="box-label">{{box.label}}</div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="controls">
            <div class="control prev"></div>
            <div class="control next"></div>
        </div>
    </div>
</section>
<script>
  var iconBoxes = tns({
    container: '.icon-boxes .boxes',
    items: 1,
    loop:true,
    slideBy: 'page',
    autoplay: false,
    nav: false,
    autoplayButtonOutput: false,
    gutter:20,
    fixedWidth: 200,
    controlsContainer: '.icon-boxes .controls',
    mouseDrag:true,
    responsive: {
        768: {
            disable:true
        }
    }

  });
  </script>
{% endblock %}
