@import "mixins.scss";


.footer {
    .top {
        background:#28334D;
        padding: 40px 35px;
        .container {
            display:flex;
            flex-direction: column;
            @include screen(1024) {
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse;
            }
        }
    }
    .bot {
        padding: 0 35px;
        padding-bottom: 40px;
        @include screen(1024) {
            padding: 30px;
        }
        .container {
            display:flex;
            flex-direction: column;
            @include screen(1024) {
                align-items: center;
                justify-content: flex-end;
                flex-direction: row-reverse;
            }
        }
        .footer-menu-link {
            color:#0D1320;
            font-weight: 400;
            &:hover {
                @include screen(1024) {
                    text-decoration:none; 
                }
            }
        }
    }
    &-cp {
        font-size: 14px;
        @include screen(1024) {
            margin-right: 35px;
        }
    }
    &-logo {
        @include screen(1024) {
            margin-left: 75px;
        }
        a {
            display: block;
        }
        img {
            max-width: 39px;
            display: block;
        }
    }
    &-social {
        &-list {
            display:flex;
            align-items: center;
            column-gap: 10vw;
            @include screen(768) {
                column-gap: 40px;
            }
            @include screen(1024) {
                column-gap: 13px;
            }
        }
        .social {
            a {
                transition: all 0.3s ease-out;
                text-decoration: none;
                height:41px;
                width: 41px;
                display:block;
                border-radius: 50%;
                background:#F39337;
                position:relative;
                @include screen(1024) {
                    height:25px;
                    width: 25px;
                }
                &:hover {
                    background:rgba(130, 139, 148, 1);
                }
                &:before {
                    font-size: 19px;
                    color:white;
                    font-family:"icomoon";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    @include screen(1024) {
                        font-size: 12px;
                    }
                }
            }
        }
        .facebook a {
            &:before {
                content: "\e903";
            }
        }
        .twitter a {
            &:before {
                content: "\e901";
            }
        }
        .linkedin a {
            &:before {
                content: "\e902";
            }
        }
    }
    &-menu {
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            margin: 30px 0;
            @include screen(1024) {
                margin: 0;
            }
        }
        &-cp {
            font-size: 14px;
            line-height: 16px;
        }
        &-link {
            transition: all 0.3s ease-out;
            color:white;
            font-weight: 800;
            font-size: 14px;
            line-height: 16px;
            text-decoration: none;
            &:hover {
                @include screen(1024) {
                    text-decoration:underline; 
                }
            }
        }
    }
}