{% extends "block-base.twig" %}

{% block content %}
<footer class="footer {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="wrapper container">
        <div class="logo-container hide-mobile">
            <div class="footer-logo">
                <img width="176" height="112" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/footer-logo.png" alt="tec logo">
            </div>
        </div>
        <div class="top">
            <div class="container one">
                <div class="footer-logo hide-desktop">
                    <img width="176" height="112" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/footer-logo.png" alt="tec logo">
                </div>
                <div class="footer-menu-one">
                    <ul>
                    {% for item in footer_primary_menu.get_items %}
                        <li><a href="{{item.url}}">{{item.title}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="container two">
                <div class="footer-menu-two">
                    <ul>
                    {% for item in footer_secondary_menu.get_items %}
                        <li><a href="{{item.url}}">{{item.title}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="container three">
                <div class="contact-info-left">
                    <ul class="info-one">
                        <li><a href="#" class="yellow">General Enquiries:</a></li>
                        <li><a href="#">+ 44 (0)20 3693 7500</a></li>
                        <li><a href="#">+ 353 (0) 66 915 1901</a></li>
                    </ul>
                    <ul class="info-two">
                        <li><a href="#" class="yellow">Customer Support:</a></li>
                        <li><a href="#">+ 353 66 915 1901</a></li>
                        <li><a href="#">+44 (0)20 3693 7500</a></li>
                    </ul>
                </div>
                <div class="contact-info-border"></div>
                <div class="contact-info-right">
                    <ul class="info-one">
                        <li><a href="#" class="yellow">Sales/Partners:</a></li>
                        <li><a href="#">enquiry@aspirico.com</a></li>
                    </ul>
                    <ul class="info-two">
                        <li><a href="#" class="yellow">Customer Service:</a></li>
                        <li><a href="#">support@aspirico.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bot">
        <div class="container">
            <div class="left">
                <div class="social">
                    <a class="tw" href="#"></a>
                    <a class="ig" href="#"></a>
                </div>
                <div class="cp hide-desktop">
                    <span>© Copyright {{ 'now' | date('Y') }}</span>
                </div>
            </div>
            <div class="mid hide-mobile">
                <ul class="bot-menu">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="right">
                <ul class="bot-menu hide-desktop">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
                <div class="cp hide-mobile">
                    <span>© Copyright {{ 'now' | date('Y') }}</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    let elementCallback = function (entries, observer) {
        entries.forEach(entry => {
            if(entry.isIntersecting) {
                entry.target.style.opacity = "100%";
                entry.target.style.transform = "translateZ(0)";
            }
        });
    };

    let elementObserver = new IntersectionObserver(elementCallback, { rootMargin: "-20% 0% -1% 0%", threshold: 0 } );

    document.querySelectorAll('.fade-up').forEach(function(e) {
        elementObserver.observe(e);
    });
</script>
{% endblock %}
