{% extends "block-base.twig" %}

{% block content %}
<footer class="footer {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container">
            <div class="footer-social">
                <ul class="footer-social-list">
                    <li class="social linkedin"><a href="https://www.linkedin.com/company/exfin-software/" target="_blank"></a></li>
                    <li class="social twitter"><a href="#" target="_blank"></a></li>
                    <li class="social facebook"><a href="#" target="_blank"></a></li>
                    <li class="footer-logo">
                        <a href="#"><img width="176" height="112" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/logo.svg" alt="logo"></a>
                    </li>
                </ul>
            </div>
            <div class="footer-menu">
                <ul class="footer-menu-list">
                    {% for item in footer_primary_menu.get_items %}
                    <li class="footer-menu-item">
                        <a class="footer-menu-link" href="{{item.url}}">{{item.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="bot">
        <div class="container">
            <div class="footer-menu">
                <ul class="footer-menu-list">
                    {% for item in footer_secondary_menu.get_items %}
                    <li class="footer-menu-item">
                        <a class="footer-menu-link" href="{{item.url}}">{{item.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-cp">Copyright © {{ 'now' | date('Y') }}. All rights reserved.</div>
        </div>
    </div>
</footer>
<script>
    let elementCallback = function (entries, observer) {
        entries.forEach(entry => {
            if(entry.isIntersecting) {
                entry.target.style.opacity = "100%";
                entry.target.style.transform = "translateZ(0)";
            }
        });
    };

    let elementObserver = new IntersectionObserver(elementCallback, { rootMargin: "-20% 0% -1% 0%", threshold: 0 } );

    document.querySelectorAll('.fade-up').forEach(function(e) {
        elementObserver.observe(e);
    });
</script>
{% endblock %}
