.content-tabs-one {
  padding: 40px 0;
}
@media only screen and (min-width: 1280px) {
  .content-tabs-one .tab:not(:last-child) {
    border-bottom: 5px solid white;
  }
}
.content-tabs-one .tab-head {
  cursor: pointer;
  background: #EEEDEC;
  padding: 25px 60px;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .content-tabs-one .tab-head {
    padding: 25px;
    padding-left: 0;
  }
}
.content-tabs-one .tab-head:before {
  transition: all 0.3s ease-in;
  content: "";
  position: absolute;
  display: block;
  background: #FF7D00;
  height: 44px;
  width: 12px;
  bottom: 40px;
  left: 30px;
  opacity: 1;
}
@media only screen and (min-width: 1280px) {
  .content-tabs-one .tab-head:before {
    height: 71px;
    bottom: unset;
    top: 10px;
    left: -35px;
  }
}
.content-tabs-one .tab-title {
  transition: all 0.1s ease-out;
  font-weight: 800;
}
@media only screen and (min-width: 1280px) {
  .content-tabs-one .tab-title {
    font-size: 26px;
  }
}
.content-tabs-one .tab-body {
  overflow: hidden;
  transition: all 0.5s ease-out;
  padding: 10px 30px;
  max-height: 300px;
}
@media only screen and (min-width: 768px) {
  .content-tabs-one .tab-body {
    max-height: 550px;
  }
}
@media only screen and (min-width: 1024px) {
  .content-tabs-one .tab-body {
    max-height: 700px;
  }
}
@media only screen and (min-width: 1280px) {
  .content-tabs-one .tab-body {
    display: none;
  }
}
.content-tabs-one .tab-subtitle {
  padding-top: 10px;
  overflow: hidden;
  max-height: 150px;
  transition: all 0.4s ease-out;
}
.content-tabs-one .tab-content {
  display: none;
}
.content-tabs-one .tab-content.active {
  display: block;
}
.content-tabs-one .tab:not(.active) .tab-title {
  font-weight: 400;
}
@media only screen and (min-width: 1280px) {
  .content-tabs-one .tab:not(.active) .tab-title {
    font-size: 22px;
  }
}
.content-tabs-one .tab:not(.active) .tab-body {
  max-height: 0;
  padding: 0;
}
.content-tabs-one .tab:not(.active) .tab-subtitle {
  max-height: 0;
  padding-top: 0px;
}
.content-tabs-one .tab:not(.active) .tab-head:before {
  opacity: 0;
}
.content-tabs-one .tab + .tab {
  margin-top: 1px;
}
@media only screen and (min-width: 1280px) {
  .content-tabs-one .tab + .tab {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .content-tabs-one .wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .content-tabs-one .tabs {
    flex: 0 0 365px;
    max-width: 365px;
    background: #EEEDEC;
    padding: 20px 0;
    padding-left: 35px;
  }
}
@media only screen and (min-width: 1280px) {
  .content-tabs-one .tabs-content {
    flex: 0 0 945px;
    max-width: 945px;
  }
}

/*# sourceMappingURL=style.css.map */
