@import "mixins.scss";


.content-tabs-one {
    padding: 40px 0;
    .tab {
        &:not(:last-child) {
            @include screen(1280) {
                border-bottom: 5px solid white;
            }
        }
        &-head {
            cursor:pointer;
            background:#EEEDEC;
            padding: 25px 60px;
            position:relative;
            @include screen(1280) {
                padding: 25px;
                padding-left: 0;
            }
            &:before {
                transition:all 0.3s ease-in;
                content:"";
                position:absolute;
                display:block;
                background:#FF7D00;
                height:44px;
                width:12px;
                bottom: 40px;
                left: 30px;
                opacity:1;
                @include screen(1280) {
                    height:71px;
                    bottom: unset;
                    top: 10px;
                    left: -35px;
                
                }
            }
        }
        &-title {
            transition:all 0.1s ease-out;
            font-weight: 800;
            @include screen(1280) {
                font-size: 26px;
            }
        }
        &-body {
            overflow: hidden;
            transition:all 0.5s ease-out;
            padding: 10px 30px;
            max-height: 300px;
            @include screen(768) {
                max-height:550px;
            }
            @include screen(1024) {
                max-height:700px;
            }
            @include screen(1280) {
                display:none;
            }
        }
        &-subtitle {
            padding-top: 10px;
            overflow: hidden;
            max-height: 150px;
            transition:all 0.4s ease-out;
        }
        &-content {
            display:none;
            &.active {
                display:block;
            }
        }
        &:not(.active) {
            .tab-title {
                font-weight: 400;
                @include screen(1280) {
                    font-size: 22px;
                }
            }
            .tab-body {
                max-height: 0;
                padding:0;
            }
            .tab-subtitle {
                max-height: 0;
                padding-top: 0px;
            }
            .tab-head {
                &:before {
                    opacity:0;
                }
            }
        }
        & + .tab {
            margin-top:1px;
            @include screen(1280) {
                margin-top:0px;
            }
        }
    }
    .wrapper {
        @include screen(1280) {
            display:flex;
            align-items: flex-start;
            gap:16px;
        }
    }
    .tabs {
        @include screen(1280) {
            flex: 0 0 365px;
            max-width: 365px;
            background: #EEEDEC;
            padding: 20px 0;
            padding-left: 35px;
        }
    }
    .tabs-content {
        @include screen(1280) {
            flex:0 0 945px;
            max-width: 945px;
        }
    }
}