{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <ul class="tabs">
            {% for tab in fields.content.items %}
                <li class="tab {% if loop.first %}active{% endif %}" data-tab="{{loop.index}}">
                    <div class="tab-head" onclick="toggleTab(this.parentNode)">
                        <div class="tab-title">{{tab.title}}</div>
                        <div class="tab-subtitle"><p>{{tab.content}}</p></div>
                    </div>
                    <div class="tab-body">
                        {{imageElement(tab.image)}}
                    </div>
                </li>
            {% endfor %}
            </ul>
            <ul class="tabs-content hide-mobile">
            {% for tab in fields.content.items %}
                <li class="tab-content {% if loop.first %}active{% endif %}" data-contab="{{loop.index}}">
                    {{imageElement(tab.image)}}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script>
    function toggleTab(tab) {
        if(tab.classList.contains('active')) {
            tab.classList.remove('active');
        } else {
            [...document.querySelectorAll('.content-tabs-one .tab.active')].forEach(function(e) {
                e.classList.remove('active');
            });
            tab.classList.add('active');
        }
        if(screen.width > 1279) {
            console.log(tab.dataset.tab);
            [...document.querySelectorAll('.content-tabs-one .tabs-content .active')].forEach(function(e) {
                e.classList.remove('active');
            });
            document.querySelector('[data-contab="' + tab.dataset.tab + '"]').classList.add('active');;
        }
    }
</script>
{% endblock %}
