.hero {
  background: #28334D;
  position: relative;
  padding: 35px;
}
.hero:before {
  background: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 50%;
  height: 315px;
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding-top: 200px;
  }
}
.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6 {
  color: white;
}
@media only screen and (min-width: 1280px) {
  .hero h1 {
    font-size: 60px;
  }
}
.hero .inner {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .hero .inner {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  .hero .left {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.hero strong {
  color: #FF7D00;
  font-size: 18px;
  font-weight: 900;
}

.classification {
  border-top: 7px solid #F39337;
  border-bottom: 7px solid #F39337;
}
@media only screen and (min-width: 1280px) {
  .classification {
    max-width: 325px;
  }
}
.classification li {
  padding: 20px;
}
.classification li:nth-child(odd) {
  background: #f6f6f5;
}
.classification li:nth-child(even) {
  background: #eeedec;
}
.classification-single {
  display: flex;
}
.classification-label {
  flex: 0 0 70px;
  margin-right: 15px;
}
.classification-value {
  font-weight: 900;
}

.post-info {
  background: #EEEDEC;
  padding: 20px 35px;
}
.post-content {
  padding: 35px;
}
@media only screen and (min-width: 768px) {
  .post-content {
    padding: 0;
  }
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin: 1em 0;
}
.post-sidebar {
  padding: 0 35px;
  padding-top: 35px;
}
@media only screen and (min-width: 768px) {
  .post-sidebar {
    padding: 0;
    padding-top: 35px;
  }
}
@media only screen and (min-width: 1280px) {
  .post-sidebar {
    padding: 35px;
    flex: 0 0 325px;
  }
}
.post-wrapper .inner {
  display: flex;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 1280px) {
  .post-wrapper .inner {
    gap: 30px;
    flex-direction: row;
  }
}

.list-table {
  margin: 25px 0;
}
@media only screen and (min-width: 1280px) {
  .list-table {
    margin: 50px 0;
  }
}
.list-table .item {
  font-weight: 400;
  color: #0D1320;
}

.wp-element-caption {
  font-weight: 800;
}

a {
  color: #0D1320;
}

.testimonials-one {
  background: #28334D !important;
}

/*# sourceMappingURL=style.css.map */
