@import "mixins.scss";


.hero {
    background:#28334D;
    position: relative;
    padding:35px;
    &:before {
        // content:"";
        background: var(--bg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 50%;
        height: 315px;
    }
    @include screen(1280) {
        padding-top: 200px;
//        min-height: 315px;
    }
    @include headings() {
        color:white;
    }
    h1 {
        @include screen(1280) {
            font-size: 60px;
        }
    }
    .inner {
        display:flex;
        flex-direction: column;
        @include screen(1280) {
            flex-direction: row;
        }
    }
    .left {
        @include screen(1280) {
            flex:0 0 50%;
            max-width: 50%;
        }
    }
    strong {
        color:#FF7D00;
        font-size: 18px;
        font-weight: 900;
    }
}

.classification {
    border-top:7px solid #F39337;
    border-bottom:7px solid #F39337;
    @include screen(1280) {
        max-width: 325px;
    }
    li {
        padding:20px;
        &:nth-child(odd) {
            background:#f6f6f5;
        }
        &:nth-child(even) {
            background:#eeedec;
        }
    }
    &-single {
        display:flex;
    }
    &-label {
        flex:0 0 70px;
        margin-right: 15px;
    }
    &-value {
        font-weight: 900;
    }
}

.post {
    &-info {
        background:#EEEDEC;
        padding: 20px 35px;
    }
    &-content {
        padding: 35px;
        @include screen(768) {
            padding:0;
        }
        @include headings() {
            margin: 1em 0;
        }
    }
    &-sidebar {
        padding: 0 35px;
        padding-top:35px;
        @include screen(768) {
            padding:0;
            padding-top:35px;
        }
        @include screen(1280) {
            padding:35px;
            flex: 0 0 325px;
        }
    }
    &-wrapper {
        .inner {
            display:flex;
            flex-direction: column-reverse;
            @include screen(1280) {
                gap:30px;
                flex-direction: row;
            }
        }
    }
}

.list-table {
    margin: 25px 0;
    @include screen(1280) {
        margin: 50px 0;
    }
    .item {
        font-weight: 400;
        color:#0D1320;
    }
}

.wp-element-caption {
    font-weight: 800;
}

a {
    color:#0D1320;
}

.testimonials-one {
    background:#28334D !important;
}