{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}">
    <div class="hero" style="--bg:url({{post.thumbnail.src}});">
        <div class="container">
            <div class="inner">
                <div class="left">
                    <strong>Case study</strong>
                    <h1>{{post.title}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="post-info">
        <div class="container">
            <div class="post-date">Published {{ post.date('d.m.Y') }}</div>
            <ul class="post-share">
                <li class="post-share"><li>
            </ul>
        </div>
    </div>
    <div class="post-wrapper">
        <div class="container inner">
            <div class="post-content">
                <InnerBlocks/>
            </div>
            <div class="post-sidebar">
                <ul class="classification">
                {% if fields.classification.client|length > 1 %}
                    <li class="classification-single">
                        <div class="classification-label">Client:</div>
                        <div class="classification-value">{{fields.classification.client}}</div>
                    </li>
                {% endif %}
                {% if fields.classification.region|length > 1 %}
                    <li class="classification-single">
                        <div class="classification-label">Region:</div>
                        <div class="classification-value">{{fields.classification.region}}</div>
                    </li>
                {% endif %}
                {% if fields.classification.industry|length > 1 %}
                    <li class="classification-single">
                        <div class="classification-label">Industry:</div>
                        <div class="classification-value">{{fields.classification.industry}}</div>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% if fields.testimonials.items|length > 0 %}
    <div class="post-testimonial">
        <section class="testimonials-one">
            <div class="container">
                <div class="wrapper">
                    <ul class="testimonials">
                    {% for item in fields.testimonials.items %}
                        <li class="testimonial {% if loop.first %}active{% endif %}" data-testimonial="{{loop.index}}">
                            <div class="body"><p>{{item.testimonial}}</p></div>
                            <div class="name">{{item.name}}</div>
                            <div class="company">{{item.company}}</div>
                        </li>
                    {% endfor %}
                    </ul>
                    <ul class="pager">
                    {% for item in fields.testimonials.items %}
                        <li class="page {% if loop.first %}active{% endif %}" onclick="toggleTab(this)" data-tab="{{loop.index}}"><tab></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
    {% endif %}
    <div class="post-pagination"></div>
    {% if fields.cta.content|length > 2 %}
    <div class="post-cta">
        <section class="cta-block-one" style="--bg:url('https://aonndpeydo.cloudimg.io/v7/{{fields.cta.background_image.url}}')">
            <div class="container">
                <div class="wrapper">
                    <div class="flex">
                        {{fields.cta.content}}
                        {% if fields.cta.button.title|length > 2 %}
                        <div class="theme-buttons ">
                            <a class="btn alternative" href="{{fields.cta.button.url}}" target="{{fields.cta.button.target}}">
                                <span>{{fields.cta.button.title}}</span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="media">
                        {{imageElement(fields.cta.image)}}
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endif %}
</section>
{% endblock %}

