.text-flex h1,
.text-flex h2,
.text-flex h3,
.text-flex h4,
.text-flex h5,
.text-flex h6 {
  color: #28334D;
}
@media only screen and (min-width: 1024px) {
  .text-flex {
    padding-top: 80px;
  }
}
.text-flex .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
@media only screen and (min-width: 1024px) {
  .text-flex .wrapper {
    padding: 0px;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  .text-flex .wrapper {
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
.text-flex .flex {
  position: relative;
  flex: 0 0 48.5%;
  margin-bottom: 25px;
  padding: 0 40px;
}
@media only screen and (min-width: 1024px) {
  .text-flex .flex {
    padding: 0;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .text-flex .flex {
    max-width: 555px;
  }
}
.text-flex .text {
  flex: 0 0 48.5%;
  position: relative;
  padding: 0 40px;
  padding-top: 40px;
}
@media only screen and (min-width: 1024px) {
  .text-flex .text {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .text-flex .text {
    max-width: 555px;
  }
}
.text-flex .text:before {
  position: absolute;
  content: "";
  height: 7px;
  width: 53px;
  background: #f39337;
  top: 20px;
  left: 15px;
}
@media only screen and (min-width: 1024px) {
  .text-flex .text:before {
    height: 10px;
    width: 57px;
    top: 0;
    left: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .text-flex .text:before {
    top: -20px;
    left: -10px;
  }
}
@media only screen and (min-width: 1366px) {
  .text-flex .text:before {
    top: -30px;
    left: -15px;
  }
}
.text-flex.is-style-navy {
  background: #28334D;
}
.text-flex.is-style-navy h1,
.text-flex.is-style-navy h2,
.text-flex.is-style-navy h3,
.text-flex.is-style-navy h4,
.text-flex.is-style-navy h5,
.text-flex.is-style-navy h6 {
  color: white;
}
.text-flex.is-style-navy p {
  color: white;
}
.text-flex.is-style-grey {
  background: #28334D;
}
.text-flex.is-style-grey h1,
.text-flex.is-style-grey h2,
.text-flex.is-style-grey h3,
.text-flex.is-style-grey h4,
.text-flex.is-style-grey h5,
.text-flex.is-style-grey h6 {
  color: white;
}
.text-flex.is-style-grey p {
  color: white;
}

/*# sourceMappingURL=style.css.map */
