@import "mixins.scss";

.text-flex {
    @include headings() {
        color:#28334D;
    }
    @include screen(1024) {
        padding-top: 80px;
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        @include screen(1024) {
            padding:0px;
            flex-direction: row;
        }
        @include screen(1280) {
            align-items: center;
            justify-content: center;
            gap: 50px;
        }
    }
    .flex {
        position:relative;
        flex:0 0 48.5%;
        margin-bottom: 25px;
        padding: 0 40px;
        @include screen(1024) {
            padding:0;
            margin-bottom: 0px;
        }
        @include screen(1280) {
            max-width: 555px;
        }
    }
    .text {
        flex:0 0 48.5%;
        position: relative;
        padding: 0 40px;
        padding-top: 40px;
        @include screen(1024) {
            padding:0;
        }
        @include screen(1280) {
            max-width: 555px;
        }
        &:before {
            position: absolute;
            content: "";
            height: 7px;
            width: 53px;
            background: #f39337;
            top: 20px;
            left: 15px;
            @include screen(1024) {
                height: 10px;
                width: 57px;
                top: 0;
                left: 0;
            }
            @include screen(1280) {
                top: -20px;
                left: -10px;
            }
            @include screen(1366) {
                top: -30px;
                left: -15px;
            }
        }
    }
    &.is-style-navy {
        background:#28334D;
        @include headings() {
            color:white;
        }
        p {
            color:white;
        }
    }
    &.is-style-grey {
        background:#28334D;
        @include headings() {
            color:white;
        }
        p {
            color:white;
        }
    }
}
