{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container-sm">
        <div class="wrapper">
            <div class="text">
                <h2>{{fields.content.title}}</h2>
            </div>
            <div class="flex">
                <InnerBlocks/>
            </div>
        </div>
    </div>
</section>
{% endblock %}
