@import "mixins.scss";


.hero-block-one {
    background:var(--bg);
    background-position: bottom;
    position: relative;
    @include headings() {
        color:white;
    }
    p, li {
        color:white;
    }
    .container {
        position: relative;
        z-index: 1;
    }
    &:before {
        content:"";
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:rgba(40, 51, 77, 1);
        opacity:0.75;
    }
    .wrapper {
        @include screen(768) {
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        @include screen(1280) {
            padding:40px 0;
        }
        @include screen(1366) {
            padding:60px 0;
        }
        @include screen(1536) {
            padding:80px 0;
        }
    }
    .flex {
        padding: 30px;
        @include screen(1280) {
            padding:0;
        }
    }
    .media {
        padding: 0px 30px;
        padding-bottom: 70px;
        text-align: center;
        @include screen(768) {
            flex: 0 0 610px;
            max-width: 50%;
            padding-bottom: 0px;
        }
        @include screen(1280) {
            padding:0;
        }
    }
    ul {
        margin: 2.5rem 0;
        li {
            position: relative;
            line-height: 1.2;
            font-size: 20px;
            padding-left: 20px;
            min-height: 40px;
            display: flex;
            align-items: center;
            @include screen(1024) {
                font-size: 24px;
                padding-left: 45px;
                min-height: 47px;
            }
            @include screen(1280) {
                font-size: 28px;
            }
            &:before {
                position: absolute;
                content: "" !important;
                top: 0;
                bottom: 0;
                left: 0;
                width: 8px;
                background: #F39337;
                @include screen(1024) {
                    width: 10px;
                }
            }
        }
        li + li {
            margin-top:20px;
        }
    }
    &.is-style-no-overlay {
        &:before {
            content:unset;
        }
    }
}