.hero-block-one {
  background: var(--bg);
  background-position: bottom;
  position: relative;
}
.hero-block-one h1,
.hero-block-one h2,
.hero-block-one h3,
.hero-block-one h4,
.hero-block-one h5,
.hero-block-one h6 {
  color: white;
}
.hero-block-one p, .hero-block-one li {
  color: white;
}
.hero-block-one .container {
  position: relative;
  z-index: 1;
}
.hero-block-one:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(40, 51, 77);
  opacity: 0.75;
}
@media only screen and (min-width: 768px) {
  .hero-block-one .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-block-one .wrapper {
    padding: 40px 0;
  }
}
@media only screen and (min-width: 1366px) {
  .hero-block-one .wrapper {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 1536px) {
  .hero-block-one .wrapper {
    padding: 80px 0;
  }
}
.hero-block-one .flex {
  padding: 30px;
}
@media only screen and (min-width: 1280px) {
  .hero-block-one .flex {
    padding: 0;
  }
}
.hero-block-one .media {
  padding: 0px 30px;
  padding-bottom: 70px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hero-block-one .media {
    flex: 0 0 610px;
    max-width: 50%;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-block-one .media {
    padding: 0;
  }
}
.hero-block-one ul {
  margin: 2.5rem 0;
}
.hero-block-one ul li {
  position: relative;
  line-height: 1.2;
  font-size: 20px;
  padding-left: 20px;
  min-height: 40px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .hero-block-one ul li {
    font-size: 24px;
    padding-left: 45px;
    min-height: 47px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-block-one ul li {
    font-size: 28px;
  }
}
.hero-block-one ul li:before {
  position: absolute;
  content: "" !important;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8px;
  background: #F39337;
}
@media only screen and (min-width: 1024px) {
  .hero-block-one ul li:before {
    width: 10px;
  }
}
.hero-block-one ul li + li {
  margin-top: 20px;
}
.hero-block-one.is-style-no-overlay:before {
  content: unset;
}

/*# sourceMappingURL=style.css.map */
