@use "mixins" as *;


.theme-buttons {
    margin-top: 25px;
}

.btn {
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease-out;
    background: #28334d;
    color: #fff;
    padding: 17px 40px;
    padding-right: 60px;
    font-size: 14px;
    font-weight: 800;
    position: relative;
    min-width: 130px;
    border-radius: 0;
    overflow: hidden;
    width: fit-content;
    border:2px solid #28334D;
    @include screen(1280) {
        font-size: 16px;
        padding: 20px 40px;
        padding-right: 60px;
    }
    span {
        position: relative;
        &:after {
            transition: all .3s ease-out;
            content: "\e904";
            font-family: "icomoon";
            vertical-align: middle;
            font-size: 20px;
            font-weight: 400;
            position: absolute;
            top: 0;
            right: -35px;
        }
    }
    &.alternative {
        color:#28334D;
        background: #F39337;
        border:2px solid #F39337;
        &:before {
            @include screen(1280) {
                background: #28334d;
            }
        }
        &:hover {
            span {
                @include screen(1280) {
                    color:white;
                }
            }
        }
    }
    &:before {
        @include screen(1280) {
            content:"";
            position:absolute;
            top:0;
            bottom:0;
            left:-1px;
            right:0;
            background: #F39337;
            transition: all 0.3s ease-out;
            transform: translateX(-100%);
        }
    }
    &:hover {
        @include screen(1280) {
            color:white;
        }
        &:before {
            @include screen(1280) {
                transform: translateX(0%);
            }
        }
        span {
            @include screen(1280) {
                color:#28334D;
            }
        }
    }
}
