@use "mixins" as *;

@import "/home/web/www/html/wp-content/themes/exfin/node_modules/rfs/scss.scss";


@font-face {
  font-family: "icomoon";
  src: url('/wp-content/themes/exfin/assets/fonts/icomoon.ttf') format("truetype");
  src: url('/wp-content/themes/exfin/assets/fonts/icomoon.woff') format("woff");
  src: url('/wp-content/themes/exfin/assets/fonts/icomoon.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* manrope-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  src: url('/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url('/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  @include screen(1280) {
    font-size: 18px;
  }
}

p {
  margin: 1em 0;
  line-height: 1.2;
}

@include headings() {
  margin: 0.4em 0;
}

h {
  &1 {
    font-weight: 800;
    line-height: 1.2;
    @include font-size(4rem);
  }
  &2 {
    font-weight: 800;
    line-height:1.2;
    @include font-size(2rem);
  }
  &3 {
    @include font-size(1.44rem);
    font-weight: 800;
    line-height:1.2;
  }
  &4 {
    @include font-size(1.33rem);
    font-weight: 700;
    line-height:1.2;
  }
  &5 {
    @include font-size(1.22rem);
    font-weight: 700;
    line-height:1.2;
  }
  &6 {
    @include font-size(1.11rem);
    font-weight: 700;
    line-height:1.2;
  }
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}