@import "mixins.scss";

.image-text-variation {
    @include screen(1024) {
        padding: 80px 0;
    }
    .top {
        margin-bottom: 35px;
        @include screen(1024) {
            margin-bottom: 50px;
        }
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include screen(1024) {
            flex-direction: row;
        }
        @include screen(1280) {
            align-items: flex-end;
        }
    }
    .flex {
        position:relative;
        flex:0 0 48.5%;
        margin-bottom: 25px;
        padding: 0 40px;
        padding-top: 20px;
        @include screen(1024) {
            padding: 0;
            margin-bottom: 0px;
        }
        @include screen(1280) {
            max-width: 550px;
        }
        
    }
    h6 {
        margin-bottom: 25px;
    }
    .media {
        padding: 0 36px;
        flex:0 0 50%;
        position: relative;
        @include screen(1024) {
            padding:0;
            margin:0;
        }
        @include screen(1280) {
            max-width: 670px;
        }
        img {
            display:block;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h5 {
        color:#1F7A8C;
    }
    &.is-style-reverse {
        .wrapper {
            flex-direction: column;
            @include screen(1024) {
                flex-direction: row-reverse;
            }
        }
    }
    .flex {
        ul {
            li {
                line-height: 1.2;
                position:relative;
                padding-left: 30px;
                @include screen(768) {
                    padding-left: 40px;
                    margin-left: 7px;
                }
                @include screen(1024) {
                    padding-left: 50px;
                    margin-left: 15px;
                }
                &:before {
                    content: "";
                    background: #F39337;
                    position: absolute;
                    left: 0px;
                    height:2px;
                    width:15px;
                    display:block;
                    top: 8px;
                    @include screen(768) {
                        width:22px;
                    }
    
                }
                & + li {
                    margin-top:10px;
                }
            }
        }
    }
}
