@media only screen and (min-width: 1024px) {
  .image-text-variation {
    padding: 80px 0;
  }
}
.image-text-variation .top {
  margin-bottom: 35px;
}
@media only screen and (min-width: 1024px) {
  .image-text-variation .top {
    margin-bottom: 50px;
  }
}
.image-text-variation .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .image-text-variation .wrapper {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text-variation .wrapper {
    align-items: flex-end;
  }
}
.image-text-variation .flex {
  position: relative;
  flex: 0 0 48.5%;
  margin-bottom: 25px;
  padding: 0 40px;
  padding-top: 20px;
}
@media only screen and (min-width: 1024px) {
  .image-text-variation .flex {
    padding: 0;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text-variation .flex {
    max-width: 550px;
  }
}
.image-text-variation h6 {
  margin-bottom: 25px;
}
.image-text-variation .media {
  padding: 0 36px;
  flex: 0 0 50%;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .image-text-variation .media {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text-variation .media {
    max-width: 670px;
  }
}
.image-text-variation .media img {
  display: block;
}
.image-text-variation .wp-block-image {
  margin-bottom: 30px;
}
.image-text-variation .wp-block-buttons {
  margin-top: 30px;
}
.image-text-variation img {
  max-width: 100%;
  height: auto;
}
.image-text-variation h5 {
  color: #1F7A8C;
}
.image-text-variation.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .image-text-variation.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}
.image-text-variation .flex ul li {
  line-height: 1.2;
  position: relative;
  padding-left: 30px;
}
@media only screen and (min-width: 768px) {
  .image-text-variation .flex ul li {
    padding-left: 40px;
    margin-left: 7px;
  }
}
@media only screen and (min-width: 1024px) {
  .image-text-variation .flex ul li {
    padding-left: 50px;
    margin-left: 15px;
  }
}
.image-text-variation .flex ul li:before {
  content: "";
  background: #F39337;
  position: absolute;
  left: 0px;
  height: 2px;
  width: 15px;
  display: block;
  top: 8px;
}
@media only screen and (min-width: 768px) {
  .image-text-variation .flex ul li:before {
    width: 22px;
  }
}
.image-text-variation .flex ul li + li {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
