@import "mixins.scss";

html {
    font-family: 'Manrope', sans-serif;
}

.coming-soon {
    background:url('/wp-content/themes/exfin/blocks/coming-soon/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:100vw;
    font-family: 'Manrope', sans-serif;
    .container {
        height: 100vh;
        position: relative;
        @include screen(1024) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .wrapper {
        @include screen(0,549) {
            padding-top: 50%;
        }
        @include screen(0,699) {
            padding-top: 40%;
        }
        @include screen(700,1023) {
            padding-top: 30%;
        }
    }
    h1 {
        text-align: center;
        max-width: 1140px;
        margin:auto;
    }
    .logo {
        text-align: center;
        img {
            max-width: 140px;
            height:auto;
            @include screen(1024) {
                max-width: 210px;
            }
        }
    }
    .orange {
        color:#F39337 !important;
    }
    .big {
        font-size: 60px;
        line-height: 1;
        color:white;
        font-weight: 700;
        @include screen(400) {
            font-size: 90px;
            line-height: 1;
        }
        @include screen(550) {
            font-size: 120px;
            line-height: 1;
        }
        @include screen(850) {
            font-size: 150px;
            line-height: 1;
        }
        @include screen(1024) {
            font-size: 180px;
            line-height: 1;
        }
    }
    .small {
        font-size: 25px;
        line-height: 1;
        color:white;
        font-weight: 500;
        margin: 15px 0;
        @include screen(400) {
            font-size: 35px;
            line-height: 1;
        }
        @include screen(700) {
            font-size: 40px;
            line-height: 1;
        }
        @include screen(850) {
            font-size: 50px;
            line-height: 1;
        }
        @include screen(1024) {
            font-size: 55px;
            line-height: 63px;
            margin: 30px 0;
        }
    }
    hr {
        background:#F39337;
        height:9.27px;
        max-width: 110px;
        border: none;
    }
}