html {
  font-family: "Manrope", sans-serif;
}

.coming-soon {
  background: url("/wp-content/themes/exfin/blocks/coming-soon/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: "Manrope", sans-serif;
}
.coming-soon .container {
  height: 100vh;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .coming-soon .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 549px) {
  .coming-soon .wrapper {
    padding-top: 50%;
  }
}
@media only screen and (max-width: 699px) {
  .coming-soon .wrapper {
    padding-top: 40%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1023px) {
  .coming-soon .wrapper {
    padding-top: 30%;
  }
}
.coming-soon h1 {
  text-align: center;
  max-width: 1140px;
  margin: auto;
}
.coming-soon .logo {
  text-align: center;
}
.coming-soon .logo img {
  max-width: 140px;
  height: auto;
}
@media only screen and (min-width: 1024px) {
  .coming-soon .logo img {
    max-width: 210px;
  }
}
.coming-soon .orange {
  color: #F39337 !important;
}
.coming-soon .big {
  font-size: 60px;
  line-height: 1;
  color: white;
  font-weight: 700;
}
@media only screen and (min-width: 400px) {
  .coming-soon .big {
    font-size: 90px;
    line-height: 1;
  }
}
@media only screen and (min-width: 550px) {
  .coming-soon .big {
    font-size: 120px;
    line-height: 1;
  }
}
@media only screen and (min-width: 850px) {
  .coming-soon .big {
    font-size: 150px;
    line-height: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .coming-soon .big {
    font-size: 180px;
    line-height: 1;
  }
}
.coming-soon .small {
  font-size: 25px;
  line-height: 1;
  color: white;
  font-weight: 500;
  margin: 15px 0;
}
@media only screen and (min-width: 400px) {
  .coming-soon .small {
    font-size: 35px;
    line-height: 1;
  }
}
@media only screen and (min-width: 700px) {
  .coming-soon .small {
    font-size: 40px;
    line-height: 1;
  }
}
@media only screen and (min-width: 850px) {
  .coming-soon .small {
    font-size: 50px;
    line-height: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .coming-soon .small {
    font-size: 55px;
    line-height: 63px;
    margin: 30px 0;
  }
}
.coming-soon hr {
  background: #F39337;
  height: 9.27px;
  max-width: 110px;
  border: none;
}

/*# sourceMappingURL=style.css.map */
