{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="logo">{{imageElement(fields.content.image)}}</div>
            <h1>
                <div class="orange small">Our new website is</div>
                <div class="big">COMING SOON</div>
                <div class="small">Stay tuned!</div>
            </h1>
            <hr>
        </div>
    </div>
</section>
{% endblock %}
