@media only screen and (min-width: 1024px) {
  .image-text {
    padding: 80px 0;
  }
}
.image-text .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .image-text .wrapper {
    flex-direction: row;
  }
}
.image-text .flex {
  position: relative;
  flex: 0 0 48.5%;
  margin-bottom: 25px;
  padding: 0 40px;
  padding-top: 40px;
}
@media only screen and (min-width: 1024px) {
  .image-text .flex {
    padding: 0;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .image-text ul {
    column-count: 2;
  }
}
.image-text .media {
  padding: 0 36px;
  flex: 0 0 48.5%;
  position: relative;
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  .image-text .media {
    margin: 50px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .image-text .media {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .image-text .media {
    max-width: 610px;
  }
}
.image-text .wp-block-image {
  margin-bottom: 30px;
}
.image-text .wp-block-buttons {
  margin-top: 30px;
}
.image-text img {
  max-width: 100%;
  height: auto;
}
.image-text.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .image-text.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}
.image-text .flex ul li {
  line-height: 1.2;
  position: relative;
  padding-left: 30px;
}
.image-text .flex ul li:before {
  font-family: "icomoon";
  content: "\e905";
  color: #F39337;
  position: absolute;
  left: 0px;
}
.image-text .flex ul li + li {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
