@import "mixins.scss";

.spacer {
    height:143px;
    background: #28334d;
}
.theme-not-found {
    background:#28334D;
    position:relative;
    padding: 75px 25px;
    @include screen(1024) {
        padding: 100px 0;
    }
    .wrapper {
        margin-bottom: 50px;
    }
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:var(--bg);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
    }
    .flex {
        margin-bottom: 25px;
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h1 {
        letter-spacing: 0.63px;
        text-transform: capitalize;
        em {
            color:#FEBE12;
        }
    }
    .wrapper {
        @include headings() {
            color:white;
        }
        p {
            color:white;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .btn {
        margin: auto;
    }
}

@include screen(1280) {
    .thank-you {
        .wrapper {
            flex-direction: row;
        }
        .wp-block-image {
            margin-bottom:60px;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
    }
}