@import "mixins.scss";

.testimonials-one{
    background:#151c2e;
    padding: 80px 40px;
    padding-bottom: 40px;
    @include screen(1024) {
        padding: 100px 0;
    }
    .testimonials {
        @include screen(1024) {
            display: flex;
            gap: 50px;
            justify-content: space-evenly;
        }
    }
    .testimonial {
        position:relative;
        padding-left: 20px;
        opacity:1;
        transition: all 1s ease-in-out;
        min-height: 150px;
        &:before {
            content:'“';
            font-size: 155px;
            line-height: 0;
            color: #f39337;
            position: absolute;
            top: 0;
            left: -40px;
            @include screen(1024) {
                font-size: 212px;
                left: -70px;
                top: 45px;
            }
        }
        // &:nth-child(2) {
        //     display: none;
        //     @include screen(1024) {
        //         display:block;
        //     }
        // }
        .body {
            @include screen(1024) {
                max-width: 350px;
            }
            @include screen(1280) {
                max-width: 450px;
            }
        }
        .name {
            margin: 15px 0;
        }
        .name,
        .company {
            font-size: 16px;
            color:rgba(243, 147, 55, 1);
            font-weight: 800;
        }
        &:not(.active) {
            @include screen(0, 1023) {
                opacity:0;
                position:absolute;
                top:0;
            }
        } 
    }
    .pager {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        align-items: flex-end;
        @include screen(1024) {
            display:none;
        }
    }
    .page {
        padding:20px;
        tab {
            display: block;
            width: 57px;
            background:rgba(238, 237, 236, 1);
            height:3px;
        }
        &:not(.active) {
            cursor:pointer;
        }
        &.active {
            tab {
                background:rgba(243, 147, 55, 1);
                height:7px;
            }
        }
    }
    p {
        color:white;
    }
    &.is-style-white {
        background:white;
    }
    &.is-style-grey {
        background:#28334D;
    }
}
