@charset "UTF-8";
.testimonials-one {
  background: #151c2e;
  padding: 80px 40px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 1024px) {
  .testimonials-one {
    padding: 100px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .testimonials-one .testimonials {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
  }
}
.testimonials-one .testimonial {
  position: relative;
  padding-left: 20px;
  opacity: 1;
  transition: all 1s ease-in-out;
  min-height: 150px;
}
.testimonials-one .testimonial:before {
  content: "“";
  font-size: 155px;
  line-height: 0;
  color: #f39337;
  position: absolute;
  top: 0;
  left: -40px;
}
@media only screen and (min-width: 1024px) {
  .testimonials-one .testimonial:before {
    font-size: 212px;
    left: -70px;
    top: 45px;
  }
}
@media only screen and (min-width: 1024px) {
  .testimonials-one .testimonial .body {
    max-width: 350px;
  }
}
@media only screen and (min-width: 1280px) {
  .testimonials-one .testimonial .body {
    max-width: 450px;
  }
}
.testimonials-one .testimonial .name {
  margin: 15px 0;
}
.testimonials-one .testimonial .name,
.testimonials-one .testimonial .company {
  font-size: 16px;
  color: rgb(243, 147, 55);
  font-weight: 800;
}
@media only screen and (max-width: 1023px) {
  .testimonials-one .testimonial:not(.active) {
    opacity: 0;
    position: absolute;
    top: 0;
  }
}
.testimonials-one .pager {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: flex-end;
}
@media only screen and (min-width: 1024px) {
  .testimonials-one .pager {
    display: none;
  }
}
.testimonials-one .page {
  padding: 20px;
}
.testimonials-one .page tab {
  display: block;
  width: 57px;
  background: rgb(238, 237, 236);
  height: 3px;
}
.testimonials-one .page:not(.active) {
  cursor: pointer;
}
.testimonials-one .page.active tab {
  background: rgb(243, 147, 55);
  height: 7px;
}
.testimonials-one p {
  color: white;
}
.testimonials-one.is-style-white {
  background: white;
}
.testimonials-one.is-style-grey {
  background: #28334D;
}

/*# sourceMappingURL=style.css.map */
