{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <ul class="testimonials">
            {% for item in fields.content.items %}
                <li class="testimonial {% if loop.first %}active{% endif %}" data-testimonial="{{loop.index}}">
                    <div class="body"><p>{{item.testimonial}}</p></div>
                    <div class="name">{{item.name}}</div>
                    <div class="company">{{item.company}}</div>
                </li>
            {% endfor %}
            </ul>
            <ul class="pager">
            {% for item in fields.content.items %}
                <li class="page {% if loop.first %}active{% endif %}" onclick="toggleTab(this)" data-tab="{{loop.index}}"><tab></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script>
function toggleTab(tab) {
    console.log(tab.dataset.tab);
    [...document.querySelectorAll('.testimonial.active')].forEach(function(el) {
        el.classList.remove('active');
    });
    document.querySelector('[data-testimonial="' + tab.dataset.tab + '"]').classList.add('active');
    [...document.querySelectorAll('.page.active')].forEach(function(el) {
        el.classList.remove('active');
    });
    document.querySelector('[data-tab="' + tab.dataset.tab + '"]').classList.add('active');
}
</script>
{% endblock %}
