.hero-block-three {
  background: var(--bg);
  background-position: bottom;
  position: relative;
}
.hero-block-three h1,
.hero-block-three h2,
.hero-block-three h3,
.hero-block-three h4,
.hero-block-three h5,
.hero-block-three h6 {
  color: white;
}
.hero-block-three h1 {
  font-size: 40px;
}
@media only screen and (min-width: 1024px) {
  .hero-block-three h1 {
    font-size: 50px;
    max-width: 48vw;
  }
}
@media only screen and (min-width: 1366px) {
  .hero-block-three h1 {
    font-size: 60px;
  }
}
.hero-block-three p {
  line-height: 1.4;
  font-weight: 800;
}
@media only screen and (min-width: 1024px) {
  .hero-block-three p {
    max-width: 650px;
  }
}
.hero-block-three p, .hero-block-three li {
  color: white;
}
.hero-block-three .container {
  position: relative;
  z-index: 1;
}
.hero-block-three:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #28334D;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .hero-block-three .wrapper {
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-block-three .wrapper {
    padding: 40px 0;
  }
}
.hero-block-three .flex {
  padding: 30px;
}
@media only screen and (min-width: 1280px) {
  .hero-block-three .flex {
    padding: 0;
  }
}
.hero-block-three ul {
  margin: 2.5rem 0;
}
.hero-block-three ul li {
  position: relative;
  line-height: 1.2;
  font-size: 20px;
  padding-left: 20px;
  min-height: 40px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .hero-block-three ul li {
    font-size: 24px;
    padding-left: 45px;
    min-height: 47px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-block-three ul li {
    font-size: 28px;
  }
}
.hero-block-three ul li:before {
  position: absolute;
  content: "" !important;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8px;
  background: #F39337;
}
@media only screen and (min-width: 1024px) {
  .hero-block-three ul li:before {
    width: 10px;
  }
}
.hero-block-three ul li + li {
  margin-top: 20px;
}
.hero-block-three.is-style-no-overlay:before {
  content: unset;
}

/*# sourceMappingURL=style.css.map */
