@import "mixins.scss";


.header {
    position:relative;
    @include screen(1280) {
        position: absolute;
        top:0;
        left:0;
        right:0;
        z-index:20;
    }
    .logo {
        padding: 0 50px;
        display: flex;
        align-items: center;
        @include screen(1280) {
            padding-left: 85px;
        }
        @include screen(1366) {
            padding: 0;
        }
        &-wrapper {
            display:flex;
            justify-content: space-between;
            z-index: 26;
            position: relative;
            background: white;
        }
        img {
            display:block;
        }
    }
    .toggler {
        cursor:pointer;
        height:85px;
        width:85px;
        background:#F39337;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu {
        &-wrapper {
            transition:all 0.5s ease-out;
            background:#EEEDEC;
            padding-top: 35px;
            position: absolute;
            top:84px;
            left:0;
            right:0;
            z-index: 25;
            transform: translateY(-101%);
            @include screen(1280) {
                position: inherit;
                background: white;
                transform: none;
                padding: 0;
            }
        }
        &-item {
            &.contact {
                padding:0;
                a {
                    display:block;
                    background: #F39337;
                    padding: 27px 35px;
                    text-align: center;
                    margin-top: 35px;
                    position:relative;
                    overflow: hidden;
                    @include screen(1280) {
                        padding: 33.5px 58px;
                        margin-top: 0;
                        margin-left: 35px;
                        font-weight: 800;
                    }
                    span {
                        transition: all 0.3s ease-out;
                        position: relative;
                    }
                    &:before {
                        @include screen(1280) {
                            content:"";
                            position:absolute;
                            top:0;
                            bottom:0;
                            left:-1px;
                            right:0;
                            background: #28334d;
                            transition: all 0.3s ease-out;
                            transform: translateX(-100%);
                        }
                    }
                    &:hover {
                        span {
                            @include screen(1280) {
                                color:white;
                            }
                        }
                        &:before {
                            @include screen(1280) {
                                transform: translateX(0%);
                            }
                        }
                    }
                }
            }
        }
        &-link {
            transition: all 0.5s ease-out;
            text-decoration: none;
            color:#28334D;
            font-weight: 600;
            font-size: 24px;
            line-height: 1;
            padding: 20px 35px;
            display: block;
            @include screen(1280) {
                padding: 33.5px 35px;
                font-size: 18px;
            }
            &:hover {
                color:#141a27;
            }
        }
        &-list {
            @include screen(1280) {
                display: flex;
            }
        }
    }
    .bot {
        background:white;
        .container {
            @include screen(0,1280) {
                max-width:100%;
            }
            @include screen(1280) {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .top {
        .menu-link {
            color:white;
            &:hover {
                color:#d4d6db;
            }
        }
        .menu-link {
            padding: 20px 35px;
        }
        .menu-list {
            justify-content: flex-end;
        }
    }
}

.burger {
    cursor: pointer;
    height: 18px;
    width: 27px;
    transform: rotate(180deg);
    transform-origin: center;
    transition-duration: 200ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    span {
        transition:all 0.3s ease-out;
        background-color: #28334D;
        position: absolute;
        display: block;
        height: 3px;
        width: 27px;
        &:nth-child(1) {
            top: calc(50% - 9px);
        }
        &:nth-child(2) {
            transition:all 0.1s ease-out;
            top: calc(50% - 2px);
        }
        &:nth-child(3) {
            top: calc(50% + 5px);
        }
    }
}

.menu-open {
    .menu-wrapper {
        transform: translateY(0%);
    }
    .burger {
        span {
            &:nth-child(1) {
                transform: translateY(9px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-5px) rotate(-45deg);
            }
        }
    }
}


.has-atomic-tangerine-color {
    color:#f49336 !important;
}

.has-atomic-tangerine-background-color {
    background:#f49336 !important;
}

.has-chinese-blue-color {
    color:#28334d !important;
}

.has-chinese-blue-background-color {
    background:#28334d !important;
}

.has-text-color {
    * {
        color:inherit !important;
    }
}

.theme-buttons {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}