.header {
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }
}
.header .logo {
  padding: 0 50px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .header .logo {
    padding-left: 85px;
  }
}
@media only screen and (min-width: 1366px) {
  .header .logo {
    padding: 0;
  }
}
.header .logo-wrapper {
  display: flex;
  justify-content: space-between;
  z-index: 26;
  position: relative;
  background: white;
}
.header .logo img {
  display: block;
}
.header .toggler {
  cursor: pointer;
  height: 85px;
  width: 85px;
  background: #F39337;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .menu-wrapper {
  transition: all 0.5s ease-out;
  background: #EEEDEC;
  padding-top: 35px;
  position: absolute;
  top: 84px;
  left: 0;
  right: 0;
  z-index: 25;
  transform: translateY(-101%);
}
@media only screen and (min-width: 1280px) {
  .header .menu-wrapper {
    position: inherit;
    background: white;
    transform: none;
    padding: 0;
  }
}
.header .menu-item.contact {
  padding: 0;
}
.header .menu-item.contact a {
  display: block;
  background: #F39337;
  padding: 27px 35px;
  text-align: center;
  margin-top: 35px;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 1280px) {
  .header .menu-item.contact a {
    padding: 33.5px 58px;
    margin-top: 0;
    margin-left: 35px;
    font-weight: 800;
  }
}
.header .menu-item.contact a span {
  transition: all 0.3s ease-out;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .header .menu-item.contact a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    right: 0;
    background: #28334d;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
  }
}
@media only screen and (min-width: 1280px) {
  .header .menu-item.contact a:hover span {
    color: white;
  }
}
@media only screen and (min-width: 1280px) {
  .header .menu-item.contact a:hover:before {
    transform: translateX(0%);
  }
}
.header .menu-link {
  transition: all 0.5s ease-out;
  text-decoration: none;
  color: #28334D;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  padding: 20px 35px;
  display: block;
}
@media only screen and (min-width: 1280px) {
  .header .menu-link {
    padding: 33.5px 35px;
    font-size: 18px;
  }
}
.header .menu-link:hover {
  color: #141a27;
}
@media only screen and (min-width: 1280px) {
  .header .menu-list {
    display: flex;
  }
}
.header .bot {
  background: white;
}
@media only screen and (max-width: 1280px) {
  .header .bot .container {
    max-width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .header .bot .container {
    display: flex;
    justify-content: space-between;
  }
}
.header .top .menu-link {
  color: white;
}
.header .top .menu-link:hover {
  color: #d4d6db;
}
.header .top .menu-link {
  padding: 20px 35px;
}
.header .top .menu-list {
  justify-content: flex-end;
}

.burger {
  cursor: pointer;
  height: 18px;
  width: 27px;
  transform: rotate(180deg);
  transform-origin: center;
  transition-duration: 200ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
}
.burger span {
  transition: all 0.3s ease-out;
  background-color: #28334D;
  position: absolute;
  display: block;
  height: 3px;
  width: 27px;
}
.burger span:nth-child(1) {
  top: calc(50% - 9px);
}
.burger span:nth-child(2) {
  transition: all 0.1s ease-out;
  top: calc(50% - 2px);
}
.burger span:nth-child(3) {
  top: calc(50% + 5px);
}

.menu-open .menu-wrapper {
  transform: translateY(0%);
}
.menu-open .burger span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.menu-open .burger span:nth-child(2) {
  opacity: 0;
}
.menu-open .burger span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.has-atomic-tangerine-color {
  color: #f49336 !important;
}

.has-atomic-tangerine-background-color {
  background: #f49336 !important;
}

.has-chinese-blue-color {
  color: #28334d !important;
}

.has-chinese-blue-background-color {
  background: #28334d !important;
}

.has-text-color * {
  color: inherit !important;
}

.theme-buttons {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
