{% extends "block-base.twig" %}

{% block content %}
<header class="header {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="top hide-mobile">
        <div class="container">
                <div class="inner">
                    <ul class="menu-list">
                    {% for child in header_secondary_menu.get_items %}
                        <li class="menu-item">
                            <a class="menu-link" href="{{child.link}}"><span>{{child.title}}</span></a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
        </div>
    </div>
    <div class="bot">
        <div class="container">
            <div class="logo-wrapper">
                <div class="logo">
                    <a href="/"><img height="40" width="125" src="/wp-content/themes/exfin/blocks/theme-header/logo.svg" alt="Logo"></a>
                </div>
                <div class="toggler hide-desktop" onclick="document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');resetMenu();">
                    <div class="mtoggler burger">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="menu-wrapper">
                <div class="inner">
                    <ul class="menu-list">
                    {% for child in header_primary_menu.get_items %}
                        <li class="menu-item">
                            <a class="menu-link" href="{{child.link}}">{{child.title}}</a>
                        </li>
                    {% endfor %}
                    {% for child in header_secondary_menu.get_items %}
                        <li class="menu-item hide-desktop">
                            <a class="menu-link" href="{{child.link}}">{{child.title}}</a>
                        </li>
                    {% endfor %}
                        <li class="menu-item contact">
                            <a class="menu-link" href="/contact/"><span>CONTACT</span></a>
                        </li>    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<script>

</script>
{% endblock %}
