@import "mixins.scss";

.flex-full {
    padding: 25px;
    .flex {
        margin-bottom: 25px;
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h1 {
        letter-spacing: 0.63px;
        text-transform: capitalize;
        em {
            color:#FEBE12;
        }
    }
    &.is-style-home {
        padding: 25px 0;
        background:url('/wp-content/themes/aspirico/blocks/flex-full/bg-one.png');
        background-position-x: left;
        background-position-y: top;
        background-repeat: no-repeat;
        background-size: 50vw;
        @include screen(1280) {
            padding: 100px 0;
        }
        h1 {
            padding: 0 25px;
        }
        p {
            padding: 0 50px;
        }
        .wp-block-image {
            max-width: 120px;
            margin: 25px auto;
            @include screen(1280) {
                max-width: 100%;
                margin-bottom:60px;
            }
        }
    }
    &.yellow {
        h2 {
            color:rgba(254, 190, 18, 1);
        }
    }
    &.sector {
        padding: 50px;
        @include screen(1200) {
            padding: 100px 0;
        }
        h2 {
            color:rgba(104, 162, 215, 1);
        }
        .wp-block-image {
            margin-top:75px;
        }
    }
}

@include screen(1280) {
    .flex-full {
        .wrapper {
            flex-direction: row;
        }
        .wp-block-image {
            margin-bottom:60px;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
        ul {
            max-width: 450px;
        }
    }
}