.cta-block-one {
  background: #28334D;
  position: relative;
  padding: 45px;
}
.cta-block-one h1,
.cta-block-one h2,
.cta-block-one h3,
.cta-block-one h4,
.cta-block-one h5,
.cta-block-one h6 {
  color: white;
}
.cta-block-one h2 {
  font-size: 36px;
  margin-bottom: 0;
}
.cta-block-one p {
  color: white;
  font-size: 26px;
  margin-top: 0;
}
.cta-block-one .container {
  position: relative;
  z-index: 1;
}
.cta-block-one:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg);
  background-position: bottom;
}
@media only screen and (min-width: 1024px) {
  .cta-block-one:before {
    content: "";
  }
}

/*# sourceMappingURL=style.css.map */
