@import "mixins.scss";


.cta-block-one {
    background:#28334D;
    position: relative;
    padding: 45px;
    @include headings() {
        color:white;
    }
    h2 {
        font-size: 36px;
        margin-bottom: 0;
    }
    p {
        color:white;
        font-size: 26px;
        margin-top: 0;
    }
    .container {
        position: relative;
        z-index: 1;
    }
    &:before {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:var(--bg);
        background-position: bottom;
        @include screen(1024) {
            content:"";
        }
    }
}