@import "mixins.scss";

.video-text {
    padding: 40px;
    @include screen(1024) {
        padding: 60px 0;
    }
    @include screen(1366) {
        padding: 80px 0;
    }
    h3 {
        font-weight: 400;
    }
    .wrapper {
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        @include screen(1024) {
            flex-direction: row-reverse;
        }
    }
    .flex {
        position:relative;
        flex:0 0 48.5%;
        margin-bottom: 25px;
        @include screen(1024) {
            margin-bottom: 0px;
        }
        @include screen(1280) {
            max-width: 500px;
        }
    }
    ul {
        @include screen(1024) {
            column-count: 2;
        }
    }
    .media {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        @include screen(1024) {
            flex:0 0 48.5%;
            width: unset;
            padding:0;
        }
        @include screen(1280) {
            max-width: 610px;
        }
        video {
            width: 100%;
            height:auto;
            @include screen(768) {
                min-height: 391px;
            }
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    &.is-style-navy {
        background:#28334D;
        @include headings() {
            color:white;
        }
        p {
            color:white;
        }
    }
    &.is-style-grey {
        background:#28334D;
        @include headings() {
            color:white;
        }
        p {
            color:white;
        }
    }
    &.is-style-cream {
        background:#EEEDEC;
    }
    &.is-style-reverse {
        .wrapper {
            flex-direction: column;
            @include screen(1024) {
                flex-direction: row-reverse;
            }
        }
    }
}
