.video-text {
  padding: 40px;
}
@media only screen and (min-width: 1024px) {
  .video-text {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 1366px) {
  .video-text {
    padding: 80px 0;
  }
}
.video-text h3 {
  font-weight: 400;
}
.video-text .wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .video-text .wrapper {
    flex-direction: row-reverse;
  }
}
.video-text .flex {
  position: relative;
  flex: 0 0 48.5%;
  margin-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  .video-text .flex {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .video-text .flex {
    max-width: 500px;
  }
}
@media only screen and (min-width: 1024px) {
  .video-text ul {
    column-count: 2;
  }
}
.video-text .media {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .video-text .media {
    flex: 0 0 48.5%;
    width: unset;
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .video-text .media {
    max-width: 610px;
  }
}
.video-text .media video {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .video-text .media video {
    min-height: 391px;
  }
}
.video-text .wp-block-image {
  margin-bottom: 30px;
}
.video-text.is-style-navy {
  background: #28334D;
}
.video-text.is-style-navy h1,
.video-text.is-style-navy h2,
.video-text.is-style-navy h3,
.video-text.is-style-navy h4,
.video-text.is-style-navy h5,
.video-text.is-style-navy h6 {
  color: white;
}
.video-text.is-style-navy p {
  color: white;
}
.video-text.is-style-grey {
  background: #28334D;
}
.video-text.is-style-grey h1,
.video-text.is-style-grey h2,
.video-text.is-style-grey h3,
.video-text.is-style-grey h4,
.video-text.is-style-grey h5,
.video-text.is-style-grey h6 {
  color: white;
}
.video-text.is-style-grey p {
  color: white;
}
.video-text.is-style-cream {
  background: #EEEDEC;
}
.video-text.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .video-text.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}

/*# sourceMappingURL=style.css.map */
