{% extends "block-base.twig" %}

{% block content %}
<section class="{{fields.bg_color}} {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="media">
            <video controls>
                <source src="{{fields.video_url}}" type="video/mp4">
                Your browser does not support HTML video.
            </video>
            </div>
            <div class="flex">
                <InnerBlocks/>
            </div>
        </div>
    </div>
</section>
{% endblock %}
