@import "mixins.scss";

.text-map {
    background:#28334D;
    padding: 20px 0;
    @include screen(768) {
        padding: 60px 0;
    }
    @include screen(1024) {
        padding: 100px 0;
    }
    @include headings() {
        color:white;
    }
    hr {
        border-color: rgba(238, 237, 236, 1);
        width: 200px;
        margin-left: 0;
        &.is-style-wide {
            border-width: 2px;
            width: 100%;
        }
    }
    p {
        color:white;
    }
    a {
        &:not(.btn) {
            color:white;
        }
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include screen(1024) {
            flex-direction: row;
        }
        @include screen(1280) {
            align-items: flex-end;
        }
    }
    .innerblocks {
        padding: 0 40px;
    }
    .map {
        text-align: center;
    }
    .flex {
        position:relative;
        flex:0 0 48.5%;
        padding-top: 40px;
        @include screen(1024) {
            padding: 0;
        }
        &:before {
            position: absolute;
            content: "";
            height: 7px;
            width: 53px;
            background: #f39337;
            top: 20px;
            left: 15px;
            @include screen(1024) {
                height: 10px;
                width: 57px;
                top: 0;
                left: 0;
            }
            @include screen(1280) {
                top: -20px;
                left: -10px;
                width: 67px;
            }
            @include screen(1366) {
                width: 87px;
                top: -30px;
                left: -15px;
            }
        }
    }
    .media {
        padding: 0 36px;
        flex:0 0 48.5%;
        position: relative;
        margin: 25px 0;
        @include screen(768) {
            margin: 50px 0;
        }
        @include screen(1024) {
            padding:0;
            margin:0;
        }
        @include screen(1280) {
            max-width: 610px;
        }
        h4 {
            font-weight: 400;
        }
        em {
            color:rgba(243, 147, 55, 1);
            font-weight: 800;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
    &.is-style-reverse {
        .wrapper {
            flex-direction: column;
            @include screen(1024) {
                flex-direction: row-reverse;
            }
        }
    }
    &.is-style-cream {
        background:#EEEDEC;
        p {
            color:#28334D;
        }
        hr {
            border-color: #28334D;
        }
        @include headings() {
            color:#28334D;
        }
    }
}