.text-map {
  background: #28334D;
  padding: 20px 0;
}
@media only screen and (min-width: 768px) {
  .text-map {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .text-map {
    padding: 100px 0;
  }
}
.text-map h1,
.text-map h2,
.text-map h3,
.text-map h4,
.text-map h5,
.text-map h6 {
  color: white;
}
.text-map hr {
  border-color: rgb(238, 237, 236);
  width: 200px;
  margin-left: 0;
}
.text-map hr.is-style-wide {
  border-width: 2px;
  width: 100%;
}
.text-map p {
  color: white;
}
.text-map a:not(.btn) {
  color: white;
}
.text-map .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .text-map .wrapper {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  .text-map .wrapper {
    align-items: flex-end;
  }
}
.text-map .innerblocks {
  padding: 0 40px;
}
.text-map .map {
  text-align: center;
}
.text-map .flex {
  position: relative;
  flex: 0 0 48.5%;
  padding-top: 40px;
}
@media only screen and (min-width: 1024px) {
  .text-map .flex {
    padding: 0;
  }
}
.text-map .flex:before {
  position: absolute;
  content: "";
  height: 7px;
  width: 53px;
  background: #f39337;
  top: 20px;
  left: 15px;
}
@media only screen and (min-width: 1024px) {
  .text-map .flex:before {
    height: 10px;
    width: 57px;
    top: 0;
    left: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .text-map .flex:before {
    top: -20px;
    left: -10px;
    width: 67px;
  }
}
@media only screen and (min-width: 1366px) {
  .text-map .flex:before {
    width: 87px;
    top: -30px;
    left: -15px;
  }
}
.text-map .media {
  padding: 0 36px;
  flex: 0 0 48.5%;
  position: relative;
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  .text-map .media {
    margin: 50px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .text-map .media {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .text-map .media {
    max-width: 610px;
  }
}
.text-map .media h4 {
  font-weight: 400;
}
.text-map .media em {
  color: rgb(243, 147, 55);
  font-weight: 800;
}
.text-map img {
  max-width: 100%;
  height: auto;
}
.text-map.is-style-reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .text-map.is-style-reverse .wrapper {
    flex-direction: row-reverse;
  }
}
.text-map.is-style-cream {
  background: #EEEDEC;
}
.text-map.is-style-cream p {
  color: #28334D;
}
.text-map.is-style-cream hr {
  border-color: #28334D;
}
.text-map.is-style-cream h1,
.text-map.is-style-cream h2,
.text-map.is-style-cream h3,
.text-map.is-style-cream h4,
.text-map.is-style-cream h5,
.text-map.is-style-cream h6 {
  color: #28334D;
}

/*# sourceMappingURL=style.css.map */
