@import "mixins.scss";

.list-table {
    .item {
        line-height: 22px;
        color: #28334D;
        font-weight: 800;
        background: #fbfafa;
        padding: 30px 34px;
        border-bottom:1px solid #707070;
        @include screen(768) {
            flex:0 0 calc(50% - 68px);
            max-width: calc(50% - 68px);
        }
        @include screen(1280) {
            flex:0 0 calc(33.33% - 68px);
            max-width: calc(33.33% - 68px);
        }
    }
    .items {
        @include screen(768) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &.is-style-narrow {
        .item {
            @include screen(1280) {
                flex:0 0 calc(50% - 68px);
                max-width: calc(50% - 68px);
            }
            &:nth-child(1),
            &:nth-child(2) {
                border-top:1px solid #707070;
            }
        }
    }
}
