.list-table .item {
  line-height: 22px;
  color: #28334D;
  font-weight: 800;
  background: #fbfafa;
  padding: 30px 34px;
  border-bottom: 1px solid #707070;
}
@media only screen and (min-width: 768px) {
  .list-table .item {
    flex: 0 0 calc(50% - 68px);
    max-width: calc(50% - 68px);
  }
}
@media only screen and (min-width: 1280px) {
  .list-table .item {
    flex: 0 0 calc(33.33% - 68px);
    max-width: calc(33.33% - 68px);
  }
}
@media only screen and (min-width: 768px) {
  .list-table .items {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1280px) {
  .list-table.is-style-narrow .item {
    flex: 0 0 calc(50% - 68px);
    max-width: calc(50% - 68px);
  }
}
.list-table.is-style-narrow .item:nth-child(1), .list-table.is-style-narrow .item:nth-child(2) {
  border-top: 1px solid #707070;
}

/*# sourceMappingURL=style.css.map */
