{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <ul class="items">
            {% for item in fields.content.items %}
                <li class="item">{{item.text}}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
