html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}
.container.is-style-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.container-xl, .container-sm {
  margin: 0 auto;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-sm {
    max-width: 65vw;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-xl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1366px) {
  .container-xl {
    max-width: 1366px;
  }
}

.size-full {
  width: 100%;
}

.aligncenter {
  text-align: center;
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}

.wp-site-blocks {
  overflow: hidden;
}

@media only screen and (min-width: 1280px) {
  section[data-block*=hero] {
    padding-top: 140px;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("/wp-content/themes/exfin/assets/fonts/icomoon.ttf") format("truetype");
  src: url("/wp-content/themes/exfin/assets/fonts/icomoon.woff") format("woff");
  src: url("/wp-content/themes/exfin/assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* manrope-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  src: url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-300.woff2") format("woff2"), url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-regular.woff2") format("woff2"), url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-500.woff2") format("woff2"), url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-700.woff2") format("woff2"), url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-800.woff2") format("woff2"), url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

p {
  margin: 1em 0;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0;
}

h1 {
  font-weight: 800;
  line-height: 1.2;
  font-size: calc(1.525rem + 3.3vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}
h2 {
  font-weight: 800;
  line-height: 1.2;
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.269rem + 0.228vw);
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.44rem;
  }
}
h4 {
  font-size: calc(1.258rem + 0.096vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.33rem;
  }
}
h5 {
  font-size: 1.22rem;
  font-weight: 700;
  line-height: 1.2;
}
h6 {
  font-size: 1.11rem;
  font-weight: 700;
  line-height: 1.2;
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}

.theme-buttons {
  margin-top: 25px;
}

.btn {
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-out;
  background: #28334d;
  color: #fff;
  padding: 17px 40px;
  padding-right: 60px;
  font-size: 14px;
  font-weight: 800;
  position: relative;
  min-width: 130px;
  border-radius: 0;
  overflow: hidden;
  width: fit-content;
  border: 2px solid #28334D;
}
@media only screen and (min-width: 1280px) {
  .btn {
    font-size: 16px;
    padding: 20px 40px;
    padding-right: 60px;
  }
}
.btn span {
  position: relative;
}
.btn span:after {
  transition: all 0.3s ease-out;
  content: "\e904";
  font-family: "icomoon";
  vertical-align: middle;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: -35px;
}
.btn.alternative {
  color: #28334D;
  background: #F39337;
  border: 2px solid #F39337;
}
@media only screen and (min-width: 1280px) {
  .btn.alternative:before {
    background: #28334d;
  }
}
@media only screen and (min-width: 1280px) {
  .btn.alternative:hover span {
    color: white;
  }
}
@media only screen and (min-width: 1280px) {
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    right: 0;
    background: #F39337;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
  }
}
@media only screen and (min-width: 1280px) {
  .btn:hover {
    color: white;
  }
}
@media only screen and (min-width: 1280px) {
  .btn:hover:before {
    transform: translateX(0%);
  }
}
@media only screen and (min-width: 1280px) {
  .btn:hover span {
    color: #28334D;
  }
}

/*# sourceMappingURL=base.css.map */
