block-preview {
  /* HTML5 display-role reset for older browsers */
}
block-preview html, block-preview body, block-preview div, block-preview span, block-preview applet, block-preview object, block-preview iframe,
block-preview h1, block-preview h2, block-preview h3, block-preview h4, block-preview h5, block-preview h6, block-preview p, block-preview blockquote, block-preview pre,
block-preview a, block-preview abbr, block-preview acronym, block-preview address, block-preview big, block-preview cite, block-preview code,
block-preview del, block-preview dfn, block-preview em, block-preview img, block-preview ins, block-preview kbd, block-preview q, block-preview s, block-preview samp,
block-preview small, block-preview strike, block-preview strong, block-preview sub, block-preview sup, block-preview tt, block-preview var,
block-preview b, block-preview u, block-preview i, block-preview center,
block-preview dl, block-preview dt, block-preview dd, block-preview ol, block-preview ul, block-preview li,
block-preview fieldset, block-preview form, block-preview label, block-preview legend,
block-preview table, block-preview caption, block-preview tbody, block-preview tfoot, block-preview thead, block-preview tr, block-preview th, block-preview td,
block-preview article, block-preview aside, block-preview canvas, block-preview details, block-preview embed,
block-preview figure, block-preview figcaption, block-preview footer, block-preview header, block-preview hgroup,
block-preview menu, block-preview nav, block-preview output, block-preview ruby, block-preview section, block-preview summary,
block-preview time, block-preview mark, block-preview audio, block-preview video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
block-preview article, block-preview aside, block-preview details, block-preview figcaption, block-preview figure,
block-preview footer, block-preview header, block-preview hgroup, block-preview menu, block-preview nav, block-preview section {
  display: block;
}
block-preview body {
  line-height: 1;
}
block-preview ol, block-preview ul {
  list-style: none;
}
block-preview blockquote, block-preview q {
  quotes: none;
}
block-preview blockquote:before, block-preview blockquote:after,
block-preview q:before, block-preview q:after {
  content: "";
  content: none;
}
block-preview table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}
.container.is-style-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.container-xl, .container-sm {
  margin: 0 auto;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-sm {
    max-width: 65vw;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-xl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1366px) {
  .container-xl {
    max-width: 1366px;
  }
}

.size-full {
  width: 100%;
}

.aligncenter {
  text-align: center;
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}

.wp-site-blocks {
  overflow: hidden;
}

@media only screen and (min-width: 1280px) {
  section[data-block*=hero] {
    padding-top: 140px;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("/wp-content/themes/exfin/assets/fonts/icomoon.ttf") format("truetype");
  src: url("/wp-content/themes/exfin/assets/fonts/icomoon.woff") format("woff");
  src: url("/wp-content/themes/exfin/assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* manrope-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  src: url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-300.woff2") format("woff2"), url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-regular.woff2") format("woff2"), url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-500.woff2") format("woff2"), url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-700.woff2") format("woff2"), url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-800.woff2") format("woff2"), url("/wp-content/themes/exfin/assets/fonts/manrope-v13-latin-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

p {
  margin: 1em 0;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0;
}

h1 {
  font-weight: 800;
  line-height: 1.2;
  font-size: calc(1.525rem + 3.3vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}
h2 {
  font-weight: 800;
  line-height: 1.2;
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.269rem + 0.228vw);
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.44rem;
  }
}
h4 {
  font-size: calc(1.258rem + 0.096vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.33rem;
  }
}
h5 {
  font-size: 1.22rem;
  font-weight: 700;
  line-height: 1.2;
}
h6 {
  font-size: 1.11rem;
  font-weight: 700;
  line-height: 1.2;
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}

.theme-buttons {
  margin-top: 25px;
}

.btn {
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-out;
  background: #28334d;
  color: #fff;
  padding: 17px 40px;
  padding-right: 60px;
  font-size: 14px;
  font-weight: 800;
  position: relative;
  min-width: 130px;
  border-radius: 0;
  overflow: hidden;
  width: fit-content;
  border: 2px solid #28334D;
}
@media only screen and (min-width: 1280px) {
  .btn {
    font-size: 16px;
    padding: 20px 40px;
    padding-right: 60px;
  }
}
.btn span {
  position: relative;
}
.btn span:after {
  transition: all 0.3s ease-out;
  content: "\e904";
  font-family: "icomoon";
  vertical-align: middle;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: -35px;
}
.btn.alternative {
  color: #28334D;
  background: #F39337;
  border: 2px solid #F39337;
}
@media only screen and (min-width: 1280px) {
  .btn.alternative:before {
    background: #28334d;
  }
}
@media only screen and (min-width: 1280px) {
  .btn.alternative:hover span {
    color: white;
  }
}
@media only screen and (min-width: 1280px) {
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    right: 0;
    background: #F39337;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
  }
}
@media only screen and (min-width: 1280px) {
  .btn:hover {
    color: white;
  }
}
@media only screen and (min-width: 1280px) {
  .btn:hover:before {
    transform: translateX(0%);
  }
}
@media only screen and (min-width: 1280px) {
  .btn:hover span {
    color: #28334D;
  }
}

.block-editor-default-block-appender .block-editor-inserter {
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 10px;
  border: 5px dotted #d50032;
  width: calc(100% - 30px);
}
.block-editor-default-block-appender .block-editor-inserter button {
  transition: all 0.3s ease-out;
  margin: auto !important;
  background: #d50032 !important;
  border: 1px solid #d50032 !important;
}
.block-editor-default-block-appender .block-editor-inserter button svg {
  transition: all 0.3s ease-out;
  color: white;
}
.block-editor-default-block-appender .block-editor-inserter button:hover {
  background: white !important;
}
.block-editor-default-block-appender .block-editor-inserter button:hover svg {
  color: #d50032;
}

.block-editor-block-list__block .block-list-appender {
  position: relative !important;
}

.block-editor-block-list__block .block-list-appender .block-editor-default-block-appender {
  height: 54px !important;
}

block-preview .acf-block-body {
  margin: 50px 0 !important;
}

block-preview section {
  padding: 50px 0 !important;
}
block-preview p,
block-preview li {
  margin: 0.5em !important;
  line-height: 1.2 !important;
}

/*# sourceMappingURL=editor.css.map */
