@import "mixins.scss";

.logo-strip {
    padding: 80px 40px;
    padding-bottom: 40px;
    border-top: 2px solid #EEEDEC;
    border-bottom: 2px solid #EEEDEC;
    margin: 25px 0;
    @include screen(1024) {
        padding: 60px 0;
    }
    .logos {
        @include screen(1024) {
            display: flex;
            gap: 16px;
            justify-content: center;
        }
    }
    .logo {
        position:relative;
        padding-left: 20px;
        img {
            width: 269px;
            height: 120px;
            object-fit: contain;
        }
    }
    .pager {
        display: flex;
        gap: 50px;
        margin-top: 50px;
        justify-content: center;
        align-items: flex-end;
        @include screen(1024) {
            display:none;
        }
    }
    .page {
        display: block;
        width: 57px;
        background:rgba(238, 237, 236, 1);
        height:3px;
        &:not(.active) {
            cursor:pointer;
        }
        &.active {
            background:rgba(243, 147, 55, 1);
            height:7px;
        }
    }
    p {
        color:white;
    }
    &.is-style-white {
        background:white;
    }
    &.is-style-grey {
        background:#28334D;
    }
    .controls {
        padding: 0 36px;
        display:flex;
        justify-content: flex-end;
        gap:17px;
        margin-top: 75px;
        @include screen(768) {
            display:none;
        }
        .control {
            cursor:pointer;
            position: relative;
            height:50px;
            width: 50px;
            display: block;
            border:1px solid #F39337;
            &:before {
                position: absolute;
                font-family: "icomoon";
                content: "\e906";
                font-size: 30px;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            &.prev {
                &:before {
                    color:#F39337;
                    transform: translate(-50%,-50%) rotate(180deg);
                }
            }
            &.next {
                background:#F39337;
                &:before {
                    color:#28334D;
                }
            }
        }
    }
}
