.logo-strip {
  padding: 80px 40px;
  padding-bottom: 40px;
  border-top: 2px solid #EEEDEC;
  border-bottom: 2px solid #EEEDEC;
  margin: 25px 0;
}
@media only screen and (min-width: 1024px) {
  .logo-strip {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .logo-strip .logos {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
}
.logo-strip .logo {
  position: relative;
  padding-left: 20px;
}
.logo-strip .logo img {
  width: 269px;
  height: 120px;
  object-fit: contain;
}
.logo-strip .pager {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  justify-content: center;
  align-items: flex-end;
}
@media only screen and (min-width: 1024px) {
  .logo-strip .pager {
    display: none;
  }
}
.logo-strip .page {
  display: block;
  width: 57px;
  background: rgb(238, 237, 236);
  height: 3px;
}
.logo-strip .page:not(.active) {
  cursor: pointer;
}
.logo-strip .page.active {
  background: rgb(243, 147, 55);
  height: 7px;
}
.logo-strip p {
  color: white;
}
.logo-strip.is-style-white {
  background: white;
}
.logo-strip.is-style-grey {
  background: #28334D;
}
.logo-strip .controls {
  padding: 0 36px;
  display: flex;
  justify-content: flex-end;
  gap: 17px;
  margin-top: 75px;
}
@media only screen and (min-width: 768px) {
  .logo-strip .controls {
    display: none;
  }
}
.logo-strip .controls .control {
  cursor: pointer;
  position: relative;
  height: 50px;
  width: 50px;
  display: block;
  border: 1px solid #F39337;
}
.logo-strip .controls .control:before {
  position: absolute;
  font-family: "icomoon";
  content: "\e906";
  font-size: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logo-strip .controls .control.prev:before {
  color: #F39337;
  transform: translate(-50%, -50%) rotate(180deg);
}
.logo-strip .controls .control.next {
  background: #F39337;
}
.logo-strip .controls .control.next:before {
  color: #28334D;
}

/*# sourceMappingURL=style.css.map */
