<ul class="departments">
    {% for department in ajax_departments %}
    <li class="department">
        <div class="department-head"><strong>{{department.title}}</strong></div>
        <div class="department-body">
            <ul class="jobs fade-up">
            {% for job in department.jobs %}
            {% set job_data = fn('get_field', 'data', job) %}
                <li class="job">
                    <a class="inner" href="{{job.link}}">
                        <div class="job-title">
                            <a href="{{job.link}}" class="title">{{job.title}}</a>
                            <div class="arrow"></div>
                        </div>
                        <div class="job-loc">
                            <div class="location">{{job_data.location}}</div>
                        </div>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </li>
{% endfor %}
</ul>