.case-study-feed {
  background: rgba(43, 46, 116, 0.05);
  padding: 35px;
}
@media only screen and (min-width: 1280px) {
  .case-study-feed {
    padding: 50px 0;
  }
}
.case-study-feed h2 {
  color: #febe12;
}
.case-study-feed .csf-top {
  max-width: 700px;
  margin-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  .case-study-feed .csf-top {
    margin-bottom: 50px;
  }
}
.case-study-feed .related {
  padding: 50px 0 !important;
}
.case-study-feed .related-list {
  display: flex;
}
.case-study-feed .related-item {
  position: relative;
  flex: 0 0 100%;
  background: white;
  box-shadow: 8px 5px 68px rgba(40, 51, 77, 0.19);
  padding: 30px 15px;
}
@media only screen and (min-width: 1024px) {
  .case-study-feed .related-item {
    flex: 0 0 calc((100% - 120px) / 3);
  }
}
@media only screen and (min-width: 1280px) {
  .case-study-feed .related-item {
    flex: 0 0 calc((100% - 160px) / 3);
  }
}
@media only screen and (min-width: 1536px) {
  .case-study-feed .related-item {
    flex: 0 0 calc((100% - 160px) / 3);
  }
}
.case-study-feed .related-item h4 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.case-study-feed .related-item:hover .related-bar {
  max-width: 95%;
}
.case-study-feed .related-sum {
  flex-grow: 1;
}
.case-study-feed .related-sum p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}
.case-study-feed .related-list {
  flex-wrap: wrap;
  row-gap: 25px;
}
@media only screen and (max-width: 1279px) {
  .case-study-feed .related-list {
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) {
  .case-study-feed .related-list {
    gap: 15px;
  }
}
@media only screen and (min-width: 1280px) {
  .case-study-feed .related-list {
    gap: 20px;
    margin: 0 -15px;
  }
}
@media only screen and (min-width: 1536px) {
  .case-study-feed .related-list {
    gap: 35px;
    flex: 0 0 calc((100% - 160px) / 3);
  }
}
.case-study-feed .related-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.case-study-feed .related-info {
  flex-grow: 1;
  display: flex;
}
.case-study-feed .related-content {
  color: #0D1320;
  text-decoration: none;
}
.case-study-feed .related-content h4 {
  font-size: 22px;
  line-height: 29px;
  font-weight: 800;
}
.case-study-feed .related-read .read-more {
  display: block;
  position: relative;
  transition: all 0.3s ease-out;
  color: #0D1320;
  padding: 20px 0;
  text-decoration: none;
}
.case-study-feed .related-read .read-more:before {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "\e904";
  color: #0D1320;
  font-family: "icomoon";
  right: 0;
  transform: rotate(0deg);
  left: 115px;
  font-weight: 900;
}
.case-study-feed .related-read .read-more span {
  font-weight: 900;
}
.case-study-feed .related-image {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}
.case-study-feed .related-image img {
  display: block;
  transition: 0.5s ease;
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 235px;
}
.case-study-feed .related-image label {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #92D400;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  width: max-content;
  text-align: center;
  display: block;
  padding: 0 10px;
}
.case-study-feed .related-bar {
  transition: all 0.3s ease-out;
  display: block;
  background: #F39337;
  height: 10px;
  width: 100%;
  max-width: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
