{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="csf-container container">
        <div class="csf-top row">
            <div class="csf-title row">
                <InnerBlocks/>
            </div>
        </div>
        <div class="wrapper">
            <div id="filter-container" class="all">
                <ul class="rl related-list {{fields.post_type}}">
                    {% for item in objects %}
                        <li class="related-item">{% include ['related-item-feed.twig'] %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}

