.hero-block-two {
  background: var(--bg);
  background-position: bottom;
  position: relative;
}
.hero-block-two h1,
.hero-block-two h2,
.hero-block-two h3,
.hero-block-two h4,
.hero-block-two h5,
.hero-block-two h6 {
  color: white;
}
.hero-block-two h1 {
  font-size: 40px;
}
@media only screen and (min-width: 1024px) {
  .hero-block-two h1 {
    font-size: 50px;
    max-width: 48vw;
  }
}
@media only screen and (min-width: 1366px) {
  .hero-block-two h1 {
    font-size: 60px;
  }
}
.hero-block-two p {
  line-height: 1.4;
  font-weight: 800;
}
@media only screen and (min-width: 1024px) {
  .hero-block-two p {
    max-width: 650px;
  }
}
.hero-block-two p, .hero-block-two li {
  color: white;
}
.hero-block-two .container {
  position: relative;
  z-index: 1;
}
.hero-block-two:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(40, 51, 77);
  opacity: 0.75;
}
@media only screen and (min-width: 768px) {
  .hero-block-two .wrapper {
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-block-two .wrapper {
    padding: 40px 0;
  }
}
@media only screen and (min-width: 1366px) {
  .hero-block-two .wrapper {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 1536px) {
  .hero-block-two .wrapper {
    padding: 80px 0;
  }
}
.hero-block-two .flex {
  padding: 30px;
}
@media only screen and (min-width: 1280px) {
  .hero-block-two .flex {
    padding: 0;
  }
}
.hero-block-two ul {
  margin: 2.5rem 0;
}
.hero-block-two ul li {
  position: relative;
  line-height: 1.2;
  font-size: 20px;
  padding-left: 20px;
  min-height: 40px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .hero-block-two ul li {
    font-size: 24px;
    padding-left: 45px;
    min-height: 47px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-block-two ul li {
    font-size: 28px;
  }
}
.hero-block-two ul li:before {
  position: absolute;
  content: "" !important;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8px;
  background: #F39337;
}
@media only screen and (min-width: 1024px) {
  .hero-block-two ul li:before {
    width: 10px;
  }
}
.hero-block-two ul li + li {
  margin-top: 20px;
}
.hero-block-two.is-style-no-overlay:before {
  content: unset;
}

/*# sourceMappingURL=style.css.map */
